<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
<div class="row ">
  <div class="col-md-12">
    <%= f.input :name, required: true %>     
  </div>
  <div class="col-md-12">
    <%= f.input :description %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 pt-4" >
    <div class="container col-md-12 card">
    <%= file_field_tag 'attachment[attachment][]', id: "fileinputuploader2", multiple: true, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="form-actions col-12">
  <%= f.button :submit, class: 'btn btn-success center'%>
</div>