<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="card p-4">
  <div class="row ">
    <div class="col-md-12">
      <%= f.input :name, required: true %>     
    </div>
    <div class="col-md-12">
      <% selected_value = @gallery.post_id%>
      <%= f.label :post, class: 'form-control-label string required' %><br>
      <%= select_tag 'gallery[post_id]', options_for_select(News::Post.all.map { |post| [post.title, post.id] }, selected_value), id: 'posts' %><br/>
    </div>

    <div class="col-md-12">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "tinymce", :rows => 2 %>
      <%= tinymce %>
    </div>
  </div>
  <div class="col-md-12 pt-4" >
    <%= file_field_tag 'attachment[attachment][]', id: "fileinputuploader2", class: 'file-loading', multiple: true %>
  </div>
  <% if @gallery.id != nil %>
    <div class="pt-4">
      <div class="container col-md-12 card scrollDiv">
        <div class="row text-center" >
          <% @gallery.attachments.each do |image| %>
            <div class="col-md-3">
              <figure>                    
                <%= image_tag image.attachment.variant(resize: '250x250>'), class: 'image_attach' %>
                <%= link_to 'Eliminar', admin_attachment_path(image, @gallery.id),  
                method: :delete,
                data: { confirm: "Confirmar", title: '¿Está seguro(a) que desea eliminar esta foto?'},
                class:'btn btn-danger'%>
                <figcaption>
                  <%= image.name %>
                </figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>  
  <div class="form-actions col-12">
    <%= f.button :submit, class: 'btn btn-success center'%>
  </div>
</div>

