<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="card p-4">
  <div class="row ">
    <div class="col-md-6">
      <%= f.input :name, required: true %>     
    </div>
    <div class="col-md-6">
      <%= f.label :post %>
      <%= select_tag 'gallery[post_id]', options_for_select(News::Post.all.map { |post| [post.title, post.id] }), id: 'posts' %><br/>
    </div>

    <div class="col-md-12">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "tinymce", :rows => 2 %>
      <%= tinymce %>
    </div>
  </div>
  <div class="col-md-12 pt-4" >
    <%= file_field_tag 'attachment[attachment][]', id: "fileinputuploader", class: 'file-loading', multiple: true %>
  </div>
  <div class="container card scrollDiv">
    <div class="row text-center" >
      <% @gallery.attachments.each do |gal| %>
        <div class="col-md-4">
          <figure>                    
            <%= image_tag gal.attachment.variant(resize: '250x250>'), class: 'image_attach' %>
            <%= link_to 'Eliminar', admin_attachment_path(gal, @gallery.id),  :method => :delete, class:'btn btn-danger'%>
            <figcaption>
              <%= gal.name %>
            </figcaption>
          </figure>
        </div>
      <% end %>  
    </div>
  </div>
  <div class="form-actions col-12">
    <%= f.button :submit, class: 'btn btn-success center'%>
  </div>
</div>

