<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="tabbable">
          <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" href="#gallery_create" data-toggle="tab">Crear Galería</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#gallery_select" data-toggle="tab">Seleccionar Gallería</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#CCC" data-toggle="tab">CCC</a>
              </li>
          </ul>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="gallery_create">
            <%= simple_form_for(@gallery, as: 'gallery', url: admin_galleries_create_gallery_path, method: :post, remote: true) do |f| %>
              <div>
                <div class="row ">
                  <div class="col-md-12">
                    <%= f.input :name, required: true %>     
                  </div>
                  <div class="col-md-12">
                    <%= f.label :description %>
                    <%= f.text_area :description, :class => "tinymce" %>
                    <%= tinymce %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 pt-4" >
                    <div class="container col-md-12 card scrollDiv">
                    <%= file_field_tag 'attachment[attachment][]', id: "fileinputuploader2", multiple: true %>
                    </div>
                  </div>
                </div>
                
                <div class="form-actions col-12">
                  <%= f.button :submit, class: 'btn btn-success center'%>
                </div>
              </div>
            <% end %> <!-- /simple_form-->
          </div>

          <div role="tabpanel" class="tab-pane fade" id="gallery_select">
            <div class="row justify-content-center">
              <div class="col-12">
                <%= select_tag :galleries, options_for_select(map_galleries), class: 'image-picker show-html', multiple: true %>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="CCC">
            ccc
          </div>
        </div> <!-- /.tab-content -->
      </div> <!-- /.modal-body -->
    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function () {

});
</script>

<style>
#gallery_description_ifr{
  height: 100px !important;
}
</style>