<section class="section">
  <h1 class="section-header">Galería <%= @gallery.name %></h1>
  <div class="card">
    <div class="card-body">
      <p id="notice"><%= notice %></p>
      <div class="col-12" style="padding-top: 30px;">
        <b><p>Descripción</p></b>
        <%= raw @gallery.description %>
      </div>
      <div class="col-12" style="padding-top: 30px;">
        <b><p>Fotos</p></b>
        <% @gallery.attachments.each do |gal|  %>
          <%= image_tag(gal.attachment.variant(resize: '235x255!').processed, class:"rounded border border-primary")  %>
        <% end %>
      </div></br>
      <%= link_to 'Editar', edit_admin_gallery_path(@gallery) %>
    </div>
  </div>
</section>
