<section class="section">
  <h1 class="section-header">Galería <%= @gallery.name %></h1>
  <div class="card">
    <div class="card-body">
      <p id="notice"><%= notice %></p>
      <p>Esta galería pertenece a la noticia: <% if @gallery.post.present? %> <%= @gallery.post.title %> <% end %> </p>
      <div class="col-12" style="padding-top: 30px;">
        <b><p>Descripción</p></b>
        <%= raw @gallery.description %>
      </div>

      <b>Fotos</b>
      <div class="container card scrollDiv">
        <div class="row text-center" >
          <% if @gallery.attachments.present? %>
            <% @gallery.attachments.each do |gal|  %>
              <div class="col-md-4">
                <figure>                    
                  <%= image_tag gal.attachment.variant(resize: '250x250>'), class: 'image_attach' %>
                  <figcaption>
                    <%= best_in_place gal, :name, url: admin_attachment_path(gal), :data => { :attach_name => gal.name }%>
                  </figcaption>
                </figure>
              </div>
            <% end %> 
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('.best_in_place').best_in_place()
    $('.best_in_place').bind("ajax:success", function(){ alert('Se cambió el nombre de '+$(this).data('attachName')); });
  });
</script>