<section class="section">
  <h1 class="section-header">Galería <%= @gallery.name %></h1>
  <div class="card">
    <div class="card-body">
      <p id="notice"><%= notice %></p>
      <div class="col-12" style="padding-top: 30px;">
        <b><p>Descripción</p></b>
        <%= raw @gallery.description %>
      </div>

      <div class="container card">
        <b><p>Fotos</p></b>
        <div class="row text-center" >
          <% @gallery.attachments.each do |gal|  %>
            <div class="col-md-4">
              <figure>                    
                <%= image_tag gal.attachment.variant(resize: '250x250>'), class: 'image_attach' %>
                <figcaption>
                  <%= gal.name %>
                </figcaption>
              </figure>
            </div>
          <% end %>  
        </div>
      </div><br>

      <%= link_to 'Editar', edit_admin_gallery_path(@gallery) %>
    </div>
  </div>
</section>
