<%= f.error_notification %>
  <div class="form-group row">
    <div class="col-4">
      <%= f.input :user_ip %>
    </div>
    <div class="col-4">
      <%= f.input :post_id %>
    </div>
    <div class="col-8">
      <%= f.input :content %>
    </div>
  </div>
<%= f.submit 'Crear comentario', :class => 'btn btn-primary' %>
