<%= f.error_notification %>
<div class="container">
  <div class="col-md-12 row">
    <div class="wrapper col-md-9">
      <div class="form-group card">
        <div class="col-md-12">
          <%= f.input :name, autofocus: true, input_html: { class: "border border-dark" } %>
        </div>
        <div class="col-md-12">
        <%= f.input :slug, input_html: { class: "border border-dark" } %>
        </div>
        <div class="col-md-6">
          <% selected_value = @survey.profile_id || General::Profile.find_by_name("General").id %>
          <%= f.label "Perfilamiento" %>
          <%= f.select :profile_id, options_for_select(General::Profile.all.map{|profile| [profile.name, profile.id]}, selected_value), class:' form-control string optional' %>
        </div>
        <div class="col-md-12">
          <%= f.input :description, label: 'Descripción', input_html: { class: "border border-dark" } %>
        </div>
        
        <div class="col-md-4">
          <%= f.input :allowed_answers, label: 'Cantidad de respuestas permitidas', input_html: { class: "border border-dark" } %>
        
        </div>
      </div>
      <div class="col-md-12">
        <h2 class="text-center">Listado de preguntas</h2>
      </div>
      <div class="col-md-12 card" id="questions">
        <%= f.simple_fields_for :questions do |question_form|%>
          <%= render 'question_fields', f: question_form %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 pl-4">
      <div class="card p-2 wrapper form-group row">
        <div class="col-md-12">
          <%= f.input :status, collection: Survey::Survey::STATUS, prompt: :translate %>
        </div>
        <!-- Fecha de publicación -->
        <div class="col-md-12 col-sm-12"><br>
          <div class="input-group date" id="survey_published_at" data-target-input="nearest">
            <% if @survey.try(:published_at).present? %>
              <label>Fecha de Publicación</label>
              <%= f.text_field :published_at, class: 'form-control datetimepicker-input', value: @survey.try(:published_at).strftime("%d-%m-%Y %H:%M"), 'data-target' => '#survey_published_at', class:'survey_published_at'%>
            <% else %>
              <%= f.text_field :published_at, class: 'form-control datetimepicker-input', 'data-target' => '#survey_published_at', placeholder: "Fecha de publicación", label: false, class:'survey_published_at' %>
            <% end %>
            <div class="input-group-append" data-target="#survey_published_at" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <!-- /Fecha de publicación -->
        <!-- Fecha de finalización -->
        <div class="col-md-12 col-sm-12"><br>
          <div class="input-group date" id="survey_finish_date" data-target-input="nearest">
            <% if @survey.try(:finish_date).present? %>
              <label>Fecha de Finalización</label>
              <%= f.text_field :finish_date, class: 'form-control datetimepicker-input', value: @survey.try(:finish_date).strftime("%d-%m-%Y"), 'data-target' => '#survey_finish_date', class:'survey_published_at'%>
            <% else %>
              <%= f.text_field :finish_date, class: 'form-control datetimepicker-input', 'data-target' => '#survey_finish_date', placeholder: "Fecha de finalización", label: false, class:'survey_published_at' %>
            <% end %>
            <div class="input-group-append" data-target="#survey_finish_date" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <!-- /Fecha de finalización -->
        <br>
        <div class="col-md-12">
          <%= f.label "Mostrar Nombre" %><br />
          <% if f.object.new_record? %>
            <%= f.check_box :show_name, checked: true %>
          <% else %>
            <%= f.check_box :show_name%>
          <% end %>
        </div>
        <div class="col-md-12">
          <%= f.label "Una respuesta por usuario" %><br />
          <% if f.object.new_record? %>
            <%= f.check_box :once_by_user, checked: true %>
          <% else %>
            <%= f.check_box :once_by_user%>
          <% end %>
        </div>
        <div class="col-md-12">
          <% if @survey.image.attached? %>
            <%= image_tag @survey.image.variant(resize: '150x150>') %>
            <%= f.file_field :image, multiple: false, as: :file, input_html: { accept:'image/*' }, onchange: "validateImage('survey_image')" %>
          <% else %>
            <%= f.file_field :image, multiple: false, as: :file, required: true, input_html: { accept:'image/*' }, onchange: "validateImage('survey_image')" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper col-md-9">
    <%= f.submit action_name == 'edit' ? 'Guardar encuesta' : 'Crear encuesta', class: 'btn btn-primary'%>
    <%= link_to_add_association 'Agregar pregunta', f, :questions, class: 'btn btn-success buttons_group', data: {
    association_insertion_node: '#questions', association_insertion_method: :append } %>
    <div>
    </div>
