<%= f.error_notification %>
<div class="form-group row">
  <div class="col-md-6">
    <%= f.input :name, autofocus: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :slug %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3">
    <%= f.input :survey_type, collection: @survey_types, selected: @survey.survey_type %>
  </div>
  <div class="col-md-3">
    <%= f.label 'Tags inclusivos' %>
    <%= select_tag :terms_names, options_for_select(General::Term.inclusive_tags.map{|i| [i.name]}, f.object.terms.inclusive_tags.map(&:name)), multiple: true, class:' form-control string optional', id: 'inclusive_tag' %>
  </div>
  <div class="col-md-3">
    <%= f.label 'Tags excluyentes' %>
    <%= select_tag :terms_names, options_for_select(General::Term.excluding_tags.map{|i| [i.name]}, f.object.terms.excluding_tags.map(&:name)), multiple: true, class:' form-control string optional', id: 'excluding_tag' %>
  </div>    
  <div class="col-md-3">
    <%= image_tag @survey.image.variant(resize: '150x150>') if @survey.image.attached? %>
    <%= f.input :image, required: true, input_html: { accept:'image/*' } %>
  </div>
</div>
<div class="col-md-12" align="center" style="margin-bottom: 30px;">
  <h2>Listado de preguntas</h2>
</div>
<div class="row">
  <div class="col-md-12" id="questions">
    <%= f.simple_fields_for :questions do |question_form|%>
      <%= render 'question_fields', f: question_form %>
    <% end %>
  </div>
</div>
<div class="survey-form-actions">
  <%= link_to_add_association 'Agregar pregunta', f, :questions, style: 'float: left;', class: 'btn btn-success', data: { 
  association_insertion_node: '#questions', association_insertion_method: :append } %>
  <%= f.submit action_name == 'edit' ? 'Guardar encuesta' : 'Crear encuesta', class: 'btn btn-primary', style: 'float: right;' %>
</div>