<div class="nested-fields col-md-12 card p-4">
  <div class="col-md-4 center">
    <h3>Preguntas</h3></br>
  </div>
  <div class="row" id="options">
    <div class="col-md-3">
      <%= f.input :title%>
    </div>
    <div class="col-md-4">
      <%= f.input :description%>
    </div>
    <div class="col-md-3">
      <%= f.input :question_type, collection: Survey::Question::QUESTION_TYPE, as: :select%>
    </div>
    <div class="col-md-2">
      <h2><%= link_to_remove_association '<i class="far fa-trash-alt"></i>'.html_safe, f %></h2>
    </div>
  </div>
  <div class="">
    <div class="col-md-12">
      <%= f.simple_fields_for :options do |option_form|%>
        <%= render 'option_fields', f: option_form %>
      <% end %>
    </div>
  </div>
  <div class="text-right"></br>
    <%= link_to_add_association 'Agregar opción', f, :options, class: 'btn btn-success' %>
  </div>    
</div>

