<%- model_class = Library::Book -%>
<section class="section">
  <h1 class="section-header"><%= "Libros" %></h1>
  <%= link_to "Nuevo", new_admin_book_path, class: 'btn btn-primary btn-sm mb-1' %>
  <div class="card">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th><%= 'Título' %></th>
            <th><%= 'Autor' %></th>
            <th><%= 'Año Publicación' %></th>
            <th><%= 'Categoría' %></th>
            <th><%= 'Unidades' %></th>
            <th><%= 'Acciones' %></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.title.truncate(35), admin_book_path(book), title: book.title %></td>
              <td><%= book.author.name %></td>
              <td><%= book.publication_year %></td>
							<td><%= book.category_book.name %></td>
              <td><%= book.stock %></td>
              <td>				
								<%= link_to t('.show', :default => t("helpers.links.show")),
															admin_book_path(book), :class => 'btn btn-success btn-sm' %>
								<%= link_to t('.edit', :default => t("helpers.links.edit")),
															edit_admin_book_path(book), :class => 'btn btn-primary btn-sm' %>
								<%= link_to 'Eliminar',
															admin_book_path(book),
															:method => :delete,
															:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Estás seguro?')) },
															:class => 'btn btn-sm btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</section>