<%= f.error_notification message: f.object.errors[:background].to_sentence %>
<div class="form-group row">
  <div class="col-12 row">
    <div class="col-4">
      <%= f.input :name, required: true, autofocus: true %>
    </div>
    <div class="col-4">
      <%= f.input :starts, required: true %>
    </div>
    <div class="col-4">
      <%= f.input :ends, required: true %>
    </div>
  </div>
  <div class="col-12">
    <div class="col-12">
      <%= image_tag(@background.image.variant(resize: '300x300>'), class: 'left') if @background.image.attached? %> <br>
      <%= f.file_field :image, multiple: false, as: :file, required: !@background.image.attached?, onchange: "validateImage('background_image')"  %>
    </div>
  </div>
</div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>
