<%@benefit_groups.each do |benefit_group| %>
  <tr>
    <td><%= link_to benefit_group.code, admin_benefit_group_path(benefit_group) %></td>
    <td><%= benefit_group.name %></td>
    <td><%= link_to t('.show', :default => t("helpers.links.show")),
          admin_benefit_group_path(benefit_group), :class => 'btn btn-success btn-sm' %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_admin_benefit_group_path(benefit_group), :class => 'btn btn-primary btn-sm' %>
      <%= link_to 'Deshabilitar',
        admin_benefit_group_path(benefit_group),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro??')) },
        :class => 'btn btn-danger btn-sm' %>
    </td>
  </tr>
<% end %>
