<p id="notice"><%= notice %></p>

<section class="section">
  <h1 class="section-header">Grupo Beneficiario: <%= @benefit_group.id %></h1>
  <div class="container card">
    <div class="col-md-12" align="center">
      <h4>Código: <a href='<%= @benefit_group.code %>'><%= @benefit_group.code %></a></h4>
      <h5>Nombre: <%= @benefit_group.name %> </h5>
      <h5>Descripción: <%= @benefit_group.description %> </h5>
      <h5></h5>
    </div>
  </div>
  <br><br>
</section>

  <div align="center">
    <%= link_to t('.back', :default => t("helpers.links.back")), admin_benefit_groups_path, :class => 'btn btn-primary'  %>
  </div>