<style media="screen" type="text/css">
  @import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Material+Icons");
  @import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

  #menu_section {
    font-family: "Titillium Web", sans-serif !important;
  }
  .navbar-menu>ul>li>ul.megamenu::before {
    content: normal;
  }
  .theme--dark.v-sheet {
    background-color: #424242;
    border-color: #424242;
    color: #fff;
  }
  .v-btn-indicators {
    align-items: center;
    display: inline-flex;
    height: 36px;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    margin: 6px 8px;
    min-width: 88px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    position: relative;
    vertical-align: middle;
    user-select: none;
    background-color: white;
    border-color: white;
    border-radius: 8px;
    padding: 0px 16.5px;
    text-transform: none;
    color: #211850;
    font-weight: 700 !important;
  }
  .modal-hover {
    font-family: "Titillium Web", sans-serif !important;
    font-size: 16px;
    text-decoration: none !important;
    color: #9d9d9c !important;
  }
  a.modal-hover:hover {
    color: #789c4a !important;
    border-bottom: 1px solid #789c4a;
    padding-bottom: 2px;
  }

  .show-date {
    font-family: "Titillium Web", sans-serif !important;
    font-size: 16px;
    text-decoration: none !important;
    color: #9d9d9c !important;
  }

  .top-info {
    width: 17%;
    height: 71%;
    display: inline-block;
    vertical-align: middle;
  }
  .inline {
    display: inline-block;
    vertical-align: middle;
  }
  /* MODAL ClASS */
  .btn-close {
    color: #72933f;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    right: 13px;
    top: -20px;
  }
  .btn-close:hover {
    color: #919191;
  }
  .modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .modal:target:before {
    display: block;
  }
  .modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
  }
  .modal-dialog {
    background: #fefefe;
    position: fixed;
    top: -100%;
    z-index: 11;
    transform: translate(0, -500%);
    transition: transform 0.5s ease-out;
    max-width: 1300px !important;
    min-width: 960px;
  }
  .modal-body {
    padding: 20px;
  }
  .modal-header,
  .modal-footer {
    padding: 10px 20px;
  }
  .modal-header {
    border-bottom: #eee solid 1px;
  }
  .modal-header h2 {
    font-size: 20px;
  }
  .modal-footer {
    border-top: #eee solid 1px;
    text-align: right;
  }
  .modal-subheading {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .modal-heading {
    font-size: 49px;
    margin-top: -13px;
  }
  .modal-regular {
    font-size: 17px;
  }
  .modal-title {
    font-size: 36px;
  }
  /* MODAL CLASS END */
  .font-weight-bold {
    font-weight: 700 !important;
  }
  .white--text {
    color: #fff !important;
    caret-color: #fff !important;
  }
  .primary--text {
    color: #1e184a !important;
    caret-color: #1e184a !important;
  }
  .security-green--text {
    color: #72933f !important;
    caret-color: #72933f !important;
  }
  .vl {
    display: inline-block;
    height: 33px;
    vertical-align: middle;
    border-right: 1px solid black;
  }
  .vl2 {
    display: inline-block;
    height: 33px;
    vertical-align: middle;
    border-left: 1px solid black;
  }
  .modalDialog {
    position: fixed;
    font-family: "Titillium Web", sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog > div {
    max-width: 1024px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff);
    background: -webkit-linear-gradient(#fff);
    background: -o-linear-gradient(#fff);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
  }
  .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  .close:hover {
    background: #00d9ff;
  }
  .v-image {
    z-index: 0;
  }
  .v-image__image {
    background-repeat: no-repeat;
  }
  .v-image__image--contain {
    background-size: contain;
  }
  .v-image__image,
  .v-image__placeholder {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .v-text-field {
    padding-top: 12px;
    margin-top: 4px;
  }
  .v-text-field.v-text-field--enclosed {
    margin: 0;
    padding: 0;
  }
  .v-input {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 16px;
    text-align: left;
  }
  .v-text-field.v-text-field--solo .v-input__control {
    min-height: 11px;
    padding-top: 6px;
  }
  .v-input__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .v-text-field.v-text-field--enclosed .v-text-field__details,
  .v-text-field.v-text-field--enclosed > .v-input__control > .v-input__slot {
    padding: 0 12px;
  }
  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    border-radius: 2px;
    background: #fff;
  }
  .v-text-field > .v-input__control > .v-input__slot {
    cursor: text;
    -webkit-transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
  .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
  }
  .v-text-field.v-text-field--solo .v-text-field__slot {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .v-input__slot {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    min-height: inherit;
    position: relative;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
  }
  .theme--light.v-input:not(.v-input--is-disabled) input,
  .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: rgba(0, 0, 0, 0.87);
  }
  .v-input input {
    max-height: 32px;
  }
  .v-text-field input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 20px;
    padding: 8px 0 8px;
    max-width: 100%;
    min-width: 0px;
    width: 100%;
  }
  button,
  input,
  select,
  textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit;
  }
  input {
    border-radius: 0;
  }
  .theme--light.v-card {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
  }
  .v-card {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    text-decoration: none;
  }
  .v-card--flat {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
      0 0 0 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
      0 0 0 0 rgba(0, 0, 0, 0.12);
  }
  .hidden-sm-and-down {
    display: none;
  }
  .pointer {
    cursor: pointer;
  }
  .v-sheet {
    display: block;
    border-radius: 2px;
    position: relative;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
  .theme--light.v-sheet {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
  }
  .application--wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }
  .pt-2 {
    padding-top: 8px !important;
  }
  .pt-4 {
    padding-top: 24px !important;
  }
  .v-avatar,
  .v-avatar .v-icon,
  .v-avatar .v-image,
  .v-avatar img {
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .v-avatar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }
  .v-avatar .v-icon,
  .v-avatar .v-image,
  .v-avatar img {
    height: inherit;
    width: inherit;
  }
  .v-responsive {
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .v-responsive__sizer {
    -webkit-transition: padding-bottom 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: padding-bottom 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
  }
  .v-image {
    z-index: 0;
  }
  #back_menu {
    height: 100vh;
    width: 100vw;
    position: "relative";
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
    display: none;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
  }
  .search_position {
    position: absolute;
    top: 0px;
    height: 30px;
  }
  .container-menu {
    flex: 1 1 100%;
    margin: auto;
    margin-top: -10px;
    padding: 24px;
    padding-bottom: 26px;
    max-width: 1346px !important;
  }
  .navbar-menu {
    position: inherit;
    width: 100%;
    background: #f2f2f2;
    font-size: 14px;
  }
  /* first stage */
  .navbar-menu > ul {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 5px;
    padding: 0;
    height: 50px;
    z-index: 9;
  }
  .navbar-menu a {
    display: block;
    color: black;
    text-decoration: none;
  }
  .navbar-menu ul li {
    color: #fff;
    list-style: none;
    transition: 0.15s;
  }
  .navbar-menu > ul > li > a {
    padding: 15px 25px;
  }
  .navbar-menu ul > li.submenu:hover > a:after {
    margin-top: 2px;
    border-top: 5px solid transparent;
    /* border-bottom: 5px solid green; */
  }
  .navbar-menu > ul > li:hover {
    /* background: red; */
    /* border-bottom: 5px solid green; */
  }
  /* second stage (the mega-menu) */
  .navbar-menu ul.megamenu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: -9999px;
    padding: 20px 10px 0;
    background: linear-gradient(to right, #211651 -40%, #789c4a 120%) !important;
    text-align: left;
    max-width: 1340px;
    /* border-top: 5px solid green; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background: transparent;
    z-index: 1;
    transition-delay: 0.15s;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
  }
  .navbar-menu ul li:hover ul.megamenu {
    top: 100%;
  }
  /* third stage (child-menus in the mega-menu) */
  .navbar-menu ul.megamenu ul {
    width: 20%;
    margin-bottom: 10px;
    background: transparent;
    display: unset;
    color: #000;
    box-shadow: none;
  }
  .navbar-menu ul.megamenu h4 {
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  li.submenu > ul > ul > a {
    line-height: 25px;
    padding: 0;
  }
  .navbar-menu ul.megamenu ul li {
    display: block;
    padding-top: 5px;
  }
  .navbar-menu ul.megamenu ul li {
    display: block;
  }
  .navbar-menu ul.megamenu ul li a {
    margin-top: 10px;
    transition: 0.2s;
    color: #000;
  }
  .navbar-menu ul.megamenu ul li a:hover {
    color: #4096ee;
  }
  .menu_for_xl {
    min-height: 32%;
    max-width: 1092px;
    background-color: white;
    top: 138px !important;
    min-width: 1085px !important;
    left: 412px !important;
  }
  .menu_for_lg {
    min-height: 32%;
    max-width: 1092px;
    background-color: white;
    top: 138px !important;
    min-width: 1085px !important;
    left: 7.5% !important;
  }
  .menu_for_md {
    min-height: 32%;
    max-width: 1092px;
    background-color: white;
    top: 138px !important;
    min-width: 1085px !important;
    left: 30px !important;
  }
  .main-menu {
    /* border-top: 1px solid #ddd; */
    border-bottom: 1px solid #ddd;
    z-index: 1;
    margin-bottom: 6px;
    height: 70px;
    margin-top: -10px;
  }
  .v-list__tile {
    margin-top: 18px;
  }
  .head_section {
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    /* color: #638d37 !important;*/
    color: #fff !important;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 3px;
  }
  .link-format {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    font-family: "Titillium Web", sans-serif;
  }
  .link-format:hover {
    text-decoration: underline;
  }
  .arrow_down_menu {
    color: #638d37;
    width: 18px;
    padding-left: 8px;
  }
  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .align-end {
    align-items: flex-end;
  }
  .fill-height {
    height: 100%;
  }
  .pl-1 {
    padding-left: 4px !important;
  }
  .pl-2 {
    padding-left: 8px !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
  .subheading {
    font-size: 16px !important;
    font-weight: 400;
  }
  .flex {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }
  .flex.sm1 {
    flex-basis: 8.333333333333332%;
    flex-grow: 0;
    max-width: 8.333333333333332%;
  }
  .flex.sm2 {
    -ms-flex-preferred-size: 16.666666666666664%;
    flex-basis: 16.666666666666664%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 16.666666666666664%;
  }
  .flex.sm3 {
    flex-basis: 25%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 25%;
  }
  .flex.sm4 {
    flex-basis: 33.33333333333333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.33333333333333%;
  }
  .flex.sm5 {
    flex-basis: 41.66666666666667%;
    flex-grow: 0;
    max-width: 41.66666666666667%;
  }
  .flex.sm6 {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }
  .flex.sm7 {
    flex-basis: 58.333333333333336%;
    flex-grow: 0;
    max-width: 58.333333333333336%;
  }
  .flex.sm8 {
    flex-basis: 66.66666666666666%;
    flex-grow: 0;
    max-width: 66.66666666666666%;
  }
  .flex.sm9 {
    flex-basis: 75%;
    flex-grow: 0;
    max-width: 75%;
  }
  .flex.sm10 {
    flex-basis: 83.33333333333334%;
    flex-grow: 0;
    max-width: 83.33333333333334%;
  }
  .flex.sm11 {
    flex-basis: 91.66666666666666%;
    flex-grow: 0;
    max-width: 91.66666666666666%;
  }
  .flex.sm12 {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
  }
  .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 0;
  }
  .layout.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .layout.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .text-capitalize {
    text-transform: capitalize !important;
  }
  .font-weight-regular {
    font-weight: 400 !important;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .white--text {
    color: #fff !important;
    caret-color: #fff !important;
  }
  .navbar-menu > ul > li:hover {
    /* background: red; */
    text-decoration: underline;
    text-underline-position: under;
  }

  /* ------------------ Modal Ver Más ------------------------------ */
  .modal:target .modal-dialog-2 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
  }
  .modal-dialog-2 {
    background: #fefefe;
    position: fixed;
    top: -100%;
    z-index: 11;
    transform: translate(0, -500%);
    transition: transform 0.5s ease-out;
    max-width: 1300px !important;
    min-width: 960px;
  }
  /* ----------------------------------------------------------------*/

  /* ################################################################## */
  @media (min-width: 600px) {
    .modal-dialog {
      background: #fefefe;
      position: fixed;
      top: -100%;
      z-index: 11;
      -webkit-transform: translate(0, -500%);
      -ms-transform: translate(0, -500%);
      transform: translate(0, -500%);
      -webkit-transition: -webkit-transform 0.5s ease-out;
      -moz-transition: -moz-transform 0.5s ease-out;
      -o-transition: -o-transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      max-width: 1300px !important;
      width: 80%;
    }

    /* -- Modal ver más -- */
    .modal-dialog-2 {
      background: #fefefe;
      position: fixed;
      top: -100%;
      z-index: 11;
      -webkit-transform: translate(0, -500%);
      -ms-transform: translate(0, -500%);
      transform: translate(0, -500%);
      -webkit-transition: -webkit-transform 0.5s ease-out;
      -moz-transition: -moz-transform 0.5s ease-out;
      -o-transition: -o-transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      max-width: 1300px !important;
      width: 80%;
      left: 10%;
    }
    /* ------------------*/

    nav {
      font-size: 16px;
    }
    .hidden-sm-and-down {
      display: flex;
    }
    .head_menu {
      font-family: "Titillium Web", sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: white !important;
    }
  }
  @media (min-width: 960px) {
    .modal-dialog {
      background: #fefefe;
      position: fixed;
      top: -100%;
      z-index: 11;
      -webkit-transform: translate(0, -500%);
      -ms-transform: translate(0, -500%);
      transform: translate(0, -500%);
      -webkit-transition: -webkit-transform 0.5s ease-out;
      -moz-transition: -moz-transform 0.5s ease-out;
      -o-transition: -o-transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      max-width: 1300px !important;
      width: 80%;
    }

    /* -- Modal ver más -- */
    .modal-dialog-2 {
      background: #fefefe;
      position: fixed;
      top: -100%;
      z-index: 11;
      -webkit-transform: translate(0, -500%);
      -ms-transform: translate(0, -500%);
      transform: translate(0, -500%);
      -webkit-transition: -webkit-transform 0.5s ease-out;
      -moz-transition: -moz-transform 0.5s ease-out;
      -o-transition: -o-transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      max-width: 1300px !important;
      width: 80%;
      left: 10%;
    }
    /* ------------------*/
    
    .search_position {
      right: 0px;
    }
    .head_menu {
      font-family: "Titillium Web", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: white !important;
    }
    .container {
      max-width: 1140px;
    }
    nav {
      font-size: 18px;
      display: block;
    }
    /* first stage */
    .navbar-menu > ul {
      height: 50px;
      margin-bottom: 5px;
    }
    .navbar-menu > ul > li > a {
      padding: 15px 25px;
    }
    .navbar-menu ul > li.submenu:hover > a:after {
      margin-top: 2px;
      border-top: 5px solid transparent;
      /* border-bottom: 5px solid green; */
    }
    .navbar-menu > ul > li:hover {
      /* border-bottom: 5px solid green; */
    }
    /* second stage (the mega-menu) */
    .navbar-menu ul.megamenu {
      width: 100%;
      top: -9999px;
      padding: 20px 10px 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    .navbar-menu ul li:hover ul.megamenu {
      top: 100%;
    }
    /* third stage (child-menus in the mega-menu) */
    .navbar-menu ul.megamenu ul {
      width: 20%;
      margin-bottom: 10px;
    }
    .navbar-menu ul.megamenu h4 {
      margin-bottom: 5px;
    }
    .navbar-menu ul.megamenu ul li a {
      margin-top: 10px;
    }
    .menu_for_xl {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 412px !important;
    }
    .menu_for_lg {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 7.5% !important;
    }
    .menu_for_md {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 30px !important;
    }
    .main-menu {
      margin-bottom: 6px;
      height: 70px;
      margin-top: -10px;
    }
    .v-list__tile {
      margin-top: 18px;
    }
    .head_section {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.05em;
    }
    .link-format {
      font-size: 14px;
    }
    .results_ul {
      background-color: white;
      border: 2px solid darkgrey;
      border-radius: 8px;
      font: inherit;
      line-height: 1.5em;
      padding: 1em 2.5em 1em 1em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      display: none;
      z-index: 100000 !important;
      position: absolute;
    }
  }
  /* ################################################################## */
  @media (min-width: 600px) {
    nav {
      font-size: 16px;
    }
    .hidden-sm-and-down {
      display: flex;
    }
    .hidden-mobile {
      display: none;
    }
  }
  @media (min-width: 960px) {
    .hidden-mobile {
      display: none;
    }
    .search_position {
      right: 0px;
    }
    .container {
      max-width: 1140px;
    }
    nav {
      font-size: 14px;
      display: block;
    }
    
    .links-ver-mas {
      font-weight: 500;
      color: #333 !important;
    }
    /* first stage */
    .navbar-menu > ul {
      height: 50px;
      margin-bottom: 5px;
    }
    .navbar-menu > ul > li > a {
      padding: 15px 25px;
    }
    .navbar-menu ul > li.submenu:hover > a:after {
      margin-top: 2px;
      border-top: 5px solid transparent;
      /* border-bottom: 5px solid green; */
    }
    .navbar-menu > ul > li:hover {
      /* border-bottom: 5px solid green; */
    }
    /* second stage (the mega-menu) csc*/
    .navbar-menu ul.megamenu {
      flex: 1 1 100%;
      margin: auto;
      top: -9999px;
      padding: 20px 10px 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    .navbar-menu ul li:hover ul.megamenu {
      top: 100%;
    }
    /* third stage (child-menus in the mega-menu) */
    .navbar-menu ul.megamenu ul {
      width: 20%;
      margin-bottom: 10px;
    }
    .navbar-menu ul.megamenu h4 {
      margin-bottom: 5px;
    }
    .navbar-menu ul.megamenu ul li a {
      margin-top: 10px;
    }
    .menu_for_xl {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 412px !important;
    }
    .menu_for_lg {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 7.5% !important;
    }
    .menu_for_md {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 30px !important;
    }
    .main-menu {
      margin-bottom: 6px;
      height: 70px;
      margin-top: -10px;
    }
    .v-list__tile {
      margin-top: 18px;
    }
    .head_section {
      padding: 0 !important;
      border-bottom: 1px solid #fff !important;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.05em;
    }

    .link-format {
      font-size: 12px;
    }

    .image-correction {
      vertical-align: 0;
    }

    .theme--dark.v-input input::placeholder, .theme--dark.v-input textarea::placeholder {
      color: rgba(255,255,255,0.5);
    }

    .theme--dark.v-icon {
      color: #fff;
    }

    .theme--dark.v-input:not(.v-input--is-disabled) input, .theme--dark.v-input:not(.v-input--is-disabled) textarea {
      color: white;
    }

    .v-text-field > .v-input__control > .v-input__slot::before, .v-text-field > .v-input__control > .v-input__slot::after {
      bottom: -1px;
      content: '';
      left: 0;
      position: absolute;
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      width: 100%;
    }

    .theme--dark.v-text-field > .v-input__control > .v-input__slot::before {
      border-color: rgba(255,255,255,0.7);
    }

    .v-text-field > .v-input__control > .v-input__slot::before {
      border-style: solid;
      border-width: thin 0 0 0;
    }

    .theme--dark.v-text-field:not(.v-input--has-state) > .v-input__control > .v-input__slot:hover::before {
      border-color: #fff;
    }

    .padding-megamenu {
      padding-left: 24px !important;;
    }

    .decoration-ver-mas {
      text-decoration: underline !important;
    }
  }
</style>

<div id="menu_config" data-base-api-url="<%= base_api_url %>" data-base-search-url="<%= base_search_url %>"></div>

<img class="hidden-sm-and-down image-correction" src="https://s3.us-east-2.amazonaws.com/intranet-security-assets/barra.jpg" style="height: 8px; width: 100%"/>

<div style="padding-top: 20px;" id="menu_section"> 
  <div class="container-menu">
    <div class="hidden-sm-and-down">
      <!-- GOSPEL MODAL START -->
      <div class="modal" id="gospel_modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="flex sm12">
            <div class="layout" style="margin-bottom: -17px;">
              <a href="#" class="btn-close" aria-hidden="true">×</a>
              <div class="flex sm4 text-md-center" style="background: linear-gradient(to right, #211651 -40%, #789c4a 120%); min-height: 420px; padding-top: 46px">
                <div class="modal-subheading font-weight-bold white--text" style="text-decoration: underline;"><%= l(today, format: "%A")%></div>
                <div class="modal-subheading font-weight-bold white--text" style="padding-top: 77px;">Hoy,  <%= l(today, format: "%d de %B").downcase %></div>
                <div class="modal-heading font-weight-bold white--text" title="<%= santoral.name%>"><%= santoral.name[0...10] %></div>
                <hr style="width: 52%; margin-left: 25%">
                <div class="modal-subheading font-weight-bold white--text pt-2">Mañana, <%= l(today + 1.days, format: "%d de %B").downcase %></div>
                <div class="modal-regular white--text" title="<%= santoral_next.name%>"><%= santoral_next.name[0...21] %></div>
              </div>
              <div class="flex sm8" style="padding: 45px 45px 0 45px; background-color: #f3f3f3;">
                <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;">
                  <%=raw gospel.title %>
                </div>
                <div class="modal-regular" style="padding-top: 35px; color: #525252; overflow-y: auto; max-height: 330px;">
                  <%=raw gospel.content.chomp "Para recibir cada mañana el Evangelio por correo electrónico, registrarse: <a href=\"http://evangeliodeldia.org\" target=\"_blank\">evangeliodeldia.org</a>"%>
                </div>
              </div>
            </div>
            <img src="https://s3.us-east-2.amazonaws.com/intranet-security-assets/barra.jpg" style="width: 100%; height: 6px; margin-bottom: -6px;" class="image-correction">
          </div>
        </div>
      </div>
      <!-- GOSPEL MODAL END -->
      <!-- WEATHER MODAL START -->
      <div class="modal" id="weather_modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="flex sm12">
            <div class="layout" style="margin-bottom: -17px;">
              <a href="#" class="btn-close" aria-hidden="true">×</a>
              <div class="flex sm4 text-md-center" style="background: linear-gradient(to right, #211651 -40%, #789c4a 120%); height: 420px; padding-top: 46px">
                <div class="modal-subheading font-weight-bold white--text" style="text-decoration: underline;"><%= l(today, format: "%A")%></div>
                <%= image_tag(asset_url("weather/#{weather[0].icon}-white.svg"), style:"height: 116px; padding-top: 29px")%>
                <div class="modal-title font-weight-bold white--text"><%= weather[0].current_temp.to_i %>°C</div>
                <div class="modal-regular white--text" style="margin-top: -4px;">Mín: <%= weather[0].min_temp.to_i %>°c / Máx: <%= weather[0].max_temp.to_i %>°c</div>
                <hr style="width: 47%;margin-top: 12px;margin-left: 28%;margin-bottom: 12px;">
                <div class="modal-subheading font-weight-bold white--text">Índice UV:</div>
                <div class="modal-regular white--text"><%= uv_index.capitalize %></div>
              </div>
              <div class="flex sm8" style="padding: 45px 40px 0 0; background-color: #f3f3f3;">
                <div class="layout">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;"><%= l(today + 1.days, format: "%A")%></div>
                    <%= image_tag(asset_url("weather/#{weather[0].tomorrow_icon}.svg"), style:"height: 45px; margin-top: 72px;") %>
                    <div class="primary--text font-weight-bold" style="padding-top: 17px; font-size: 34px"><%= weather[0].tomorrow_max.to_i %> °C </div>
                    <div class="modal-regular primary--text" style="margin-top: -6px;"><%= weather[0].tomorrow_min.to_i %> °C</div>
                  </div>
                  <hr style="border: 1px solid white; height: 270px;">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;"><%= l(today + 2.days, format: "%A")%></div>
                    <%= image_tag(asset_url("weather/#{weather[0].tomorrow_icon}.svg"), style:"height: 45px; margin-top: 72px;") %>
                    <div class="primary--text font-weight-bold" style="padding-top: 17px; font-size: 34px"><%= weather[0].after_tomorrow_max.to_i %> °C </div>
                    <div class="modal-regular primary--text" style="margin-top: -6px;"><%= weather[0].after_tomorrow_min.to_i %> °C</div>
                  </div>
                  <hr style="border: 1px solid white; height: 270px;">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;"><%= l(today + 3.days, format: "%A")%></div>
                    <%= image_tag(asset_url("weather/#{weather[0].tomorrow_icon}.svg"), style:"height: 45px; margin-top: 72px;") %>
                    <div class="primary--text font-weight-bold" style="padding-top: 17px; font-size: 34px"><%= weather[0].aa_tomorrow_max.to_i %> °C </div>
                    <div class="modal-regular primary--text" style="margin-top: -6px;"><%= weather[0].aa_tomorrow_min.to_i %> °C</div>
                  </div>
                  <hr style="border: 1px solid white; height: 270px;">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;"><%= l(today + 4.days, format: "%A")%></div>
                    <%= image_tag(asset_url("weather/#{weather[0].tomorrow_icon}.svg"), style:"height: 45px; margin-top: 72px;") %>
                    <div class="primary--text font-weight-bold" style="padding-top: 17px; font-size: 34px"><%= weather[0].aaa_tomorrow_max.to_i %> °C </div>
                    <div class="modal-regular primary--text" style="margin-top: -6px;"><%= weather[0].aaa_tomorrow_min.to_i %> °C</div>
                  </div>
                </div>
              </div>
            </div>
            <img src="https://s3.us-east-2.amazonaws.com/intranet-security-assets/barra.jpg" style="width: 100%; height: 6px; margin-bottom: -6px;" class="image-correction">
          </div>
        </div>
      </div>
      <!-- WEATHER MODAL END -->
      <!-- INDICATORS MODAL START -->
      <div class="modal" id="indicators_modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="flex sm12">
            <div class="layout" style="margin-bottom: -17px;">
              <a href="#" class="btn-close" aria-hidden="true">×</a>
              <div class="flex sm4 text-md-center" style="background: linear-gradient(to right, #211651 -40%, #789c4a 120%); height: 420px; padding-top: 46px">
                <div class="modal-subheading font-weight-bold white--text" style="text-decoration: underline;">Dólar</div>
                <div class="modal-subheading font-weight-bold white--text" style="padding-top: 56px;">Hoy <%= l(today, format: "%d de %B").downcase %></div>
                <div class="modal-title font-weight-bold white--text">$ <%= number_to_currency(indicators[:DOLAR].last, locale: :es, precision: 2, unit: "") %></div>
                <hr style="width: 47%;margin-top: 12px;margin-left: 28%;margin-bottom: 12px;">
                <div class="modal-subheading font-weight-bold white--text">Ayer <%= l(today - 1.days, format: "%d de %B").downcase %></div>
                <div class="modal-title font-weight-bold white--text">$<%= number_to_currency(indicators[:DOLAR].first, locale: :es, precision: 2, unit: "") %></div>
                <div class="pt-4">
                  <a class="v-btn-indicators" href="https://mercadosenlinea.inversionessecurity.cl/www/resumen.html" target="_blank">
                    <%= image_tag(asset_url("indicadores-economicos.svg"), style: "height: 13px; padding-right: 5px;")%>
                    <div>Ver inversiones</div>
                  </a>
                </div>
              </div>
              <div class="flex sm8" style="padding: 45px 40px 0 0; background-color: #f3f3f3;">
                <div class="layout">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;">Euro</div>
                    <div class="primary--text modal-regular" style="margin-top: 72px;">Hoy</div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$<%= number_to_currency(indicators[:EURO].last, locale: :es, precision: 2, unit: "") %></div>
                    <div class="primary--text modal-regular" style="margin-top: 43px;">Ayer</div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$<%= number_to_currency(indicators[:EURO].first, locale: :es, precision: 2, unit: "") %></div>
                  </div>
                  <hr style="border: 1px solid white; height: 300px;">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;">UF</div>
                    <div class="primary--text modal-regular" style="margin-top: 72px;">Hoy</div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$ <%= number_to_currency(indicators[:UF].last, locale: :es, unit: "") %></div>
                    <div class="primary--text modal-regular" style="margin-top: 43px;"><%= l(today - 1.months, format: "%B") %></div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$<%= number_to_currency(indicators[:UF].first, locale: :es, precision: 2, unit: "") %></div>
                  </div>
                  <hr style="border: 1px solid white; height: 300px;">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;">IPC</div>
                    <div class="primary--text modal-regular" style="margin-top: 72px;"><%= l(today - 1.months, format: "%B") %></div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$<%= number_to_currency(indicators[:IPC].last, locale: :es, precision: 1, unit: "") %></div>
                    <div class="primary--text modal-regular" style="margin-top: 43px;"><%= l(today - 2.months, format: "%B") %></div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$<%= number_to_currency(indicators[:IPC].first, locale: :es, precision: 1, unit: "") %></div>
                  </div>
                  <hr style="border: 1px solid white; height: 300px;">
                  <div class="flex sm3 text-md-center">
                    <div class="modal-subheading font-weight-bold primary--text" style="text-decoration: underline;">IPSA</div>
                    <div class="primary--text modal-regular" style="margin-top: 72px;">Hoy</div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$<%= number_to_currency(indicators[:IPSA].last, locale: :es, precision: 2, unit: "") %></div>
                    <div class="primary--text modal-regular" style="margin-top: 43px;">Ayer</div>
                    <div class="primary--text font-weight-bold" style="font-size: 34px; margin-top: -4px;">$<%= number_to_currency(indicators[:IPSA].first, locale: :es, precision: 2, unit: "") %></div>
                  </div>                                  
                </div>
              </div>
            </div>
            <img src="https://s3.us-east-2.amazonaws.com/intranet-security-assets/barra.jpg" style="width: 100%; height: 6px; margin-bottom: -6px;" class="image-correction">
          </div>
        </div>
      </div>
      <div class="layout" style="height: 53px;">
        <div class="flex sm12">
          <div class="layout align-end fill-height">
            <div class="flex text-md-left inline sm2">
              <a href="https://misecurity.elmejorlugarparatrabajar.cl/" style="padding-left: 15%">
                <img src="https://s3.us-east-2.amazonaws.com/intranet-security-assets/Mi-security-logo.png" style="height: 35px; cursor: pointer; margin-top: 8px;" class="image-correction"/>
              </a>
            </div>
            <div class="flex sm2 subheading top-info text-md-right">
              <a href="#gospel_modal" class="modal-hover" title="<%= santoral.name%>">
                <%= 'Santoral: ' + santoral.name[0...12] %>
              </a>
            </div>
            <div class="flex sm2 top-info">
              <div href="#weather_modal">
                <div class="text-md-center subheading">
                  <%= image_tag(asset_url("weather/#{weather[0].icon}.svg"), style: "height: 25px; cursor: pointer; padding-right: 4px; vertical-align: middle; padding-bottom: 4px")%>
                  <%=link_to location_name  + " " + weather[0].current_temp.to_i.to_s + "°" , "#weather_modal", class: "modal-hover" %>
                </div>
              </div>
            </div>
            <div class="flex sm2 subheading pointer text-md-center top-info">
              <%= image_tag(asset_url("indicadores-economicos.svg"), style: "height: 16px; margin-bottom: -3px;")%>
              <a href="#indicators_modal" class="modal-hover">
                Indicadores Económicos
              </a>
            </div>
            <div class="flex sm2 subheading top-info text-md-center pl-1">
              <a class="show-date">
                <%= beauty_date.downcase %>
              </a>
            </div>
            <div class="flex sm3 text-md-right">
              <a href="/#/perfil" style="font-family: 'Titillium Web', sans-serif !important; font-size: 20px; text-decoration: none; color: #211651;">
                <%= user.name.titleize + " " + user.last_name.titleize %>
                <div class="v-avatar" style="height: 42px; width: 42px;">
                  <div aria-label="Avatar" class="inline v-image">
                    <% if user.image.attached? %> 
                      <%= image_tag(user_image, style:'object-fit: cover; border: 1px solid #1383cb') %> 
                    <% end%>
                  </div>
                </div>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MENU START -->
  <nav class="navbar-menu" fixed style="background-color: #211651;">
    <ul id="ul_menu" style="margin-bottom: 0px;">
      <% @main_menus.each do |main_menu| %>
        <li class="submenu" id="submenu1">
          <a class="head_menu" style="padding-right: 100px; letter-spacing: 1px;" href="#">
            <%= main_menu.title.upcase %>
          </a>
          <ul class="megamenu" id="megamenu1">
            <% main_menu.children.each do |menu_parent| %>
              <% menu_parent_object = General::Menu.find(menu_parent[:menu_id]) %>
              <ul style="display: inline;" class="padding-megamenu">
                <% if menu_parent_object.link.present? %>
                  <h4><%= link_to menu_parent_object.title, menu_parent_object.link, class:"head_section" %></h4>
                <% else %>
                  <h4 class="head_section"><%= menu_parent_object.title %></h4>
                <% end %>
                <% submenus = menu_parent_object.children(user_profile_ids, exa_menu) %>
                <% if submenus.length > 3 %>
                  <% submenus.first(3).each do |link| %>
                    <% benefit_count = 0 %>
                    <% if link[:link].downcase[0..3] == 'http'%>
                      <%= link_to link[:title], link[:link], class:'white--text' %>
                    <% elsif link[:post_slug].present? %>
                      <%= link_to link[:title], host + '#/noticias/' + link[:post_slug], class:'white--text'%>
                    <% elsif main_menu.title == "Mis beneficios" %>
                      <% if benefits.present? %>
                        <% benefit = benefits.find_by_title(link[:title]) %>
                      <% end %>
                      <% if benefit.present? %>
                        <% benefit_count += 1 %>
                        <%= link_to link[:title], host + '#/beneficios/' + benefit.id.to_s, class:'white--text' %>
                        <% if benefit_count > 2 %>
                          <%= link_to 'Ver más', host + '#/beneficios', style: 'text-decoration: underline;', class:'white--text decoration-ver-mas' %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= link_to link[:title], host + '#/' + link[:link], class:'white--text' %>
                    <% end %>
                  <% end %>

                  <!-- MENU MODAL START -->
                  <div class="modalDialog" id=''>
                    <div class="text-md-center">
                      <a href="#" title="Close" class="close">X</a>
                      <div class="">
                        <% submenus.each do |link| %>
                        <div>
                          <% if link[:link].downcase[0..3] == 'http'%>
                            <%= link_to link[:title], link[:link] %><br>
                          <% elsif link[:post_slug].present? %>
                            <%= link_to link[:title], host + '#/noticias/' + link[:post_slug]%>
                          <% else %>
                            <%= link_to link[:title], host + '#/' + link[:link] %>
                          <% end %>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <!-- MENU MODAL END -->

                  <!-- MODAL VER MÁS START -->
                  <div class="modal" id="menu_<%= menu_parent_object.title.downcase %>" aria-hidden="true">
                    <div class="modal-dialog-2">
                      <div class="flex sm12" style="overflow-y: auto; max-height: 400px;">
                        <div class="layout" style="margin-bottom: -17px;">
                          <a href="#" class="btn-close" aria-hidden="true">×</a>
                          <div class="flex sm12" style="padding: 15px 45px 5px 45px; background-color: #f3f3f3;">
                            <% submenus.each do |link| %>
                              <% if link[:link].downcase[0..3] == 'http'%>
                                <%= link_to link[:title], link[:link], class: 'links-ver-mas' %>
                              <% elsif link[:post_slug].present? %>
                                <%= link_to link[:title], host + '#/noticias/' + link[:post_slug], class: 'links-ver-mas'%>
                              <% else %>
                                <%= link_to link[:title], host + '#/' + link[:link], class: 'links-ver-mas' %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- MODAL VER MAS END -->

                  <% if main_menu.title != "Mis beneficios" %>
                    <%= link_to 'Ver más', host + '#menu_' + menu_parent_object.title.downcase, style: 'text-decoration: underline;', class:'white--text decoration-ver-mas' %>
                  <% end %>
                <% else %>
                  <% submenus.each do |link| %>
                    <% if link[:link].downcase[0..3] == 'http'%>
                      <%= link_to link[:title], link[:link], class:'white--text' %>
                    <% elsif link[:post_slug].present? %>
                      <%= link_to link[:title], host +  '#/noticias/' + link[:post_slug], class:'white--text'%>
                    <% else %>
                      <%= link_to link[:title], host + '#/' + link[:link], class:'white--text' %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </ul>
        </li>
      <% end %>
            <%# <i class="v-icon v-icon--link material-icons theme--dark">search</i> %>
        <div class="">
          <div class="hidden-sm-and-down" id="search_desktop" style="height: 30px;">
            <div class="v-input v-text-field v-text-field--single-line v-input--hide-details theme--dark" style="margin-top: -5px">
              <div class="v-input__control">
                <div class="v-input__slot">
                  <div class="v-text-field__slot">
                    <label aria-hidden="true" class="v-label theme--light"></label>
                    <input aria-label="Buscar" id="search_toolbar" right type="text" placeholder="Anexos, noticias, etc."/>
                  </div>
                  <div class="v-input__append-inner">
                    <div class="v-input__icon v-input__icon--append">
                      <i aria-hidden="true" class="v-icon v-icon--link material-icons theme--dark" id="icon_search">search</i>
                    </div>
                  </div>
                </div>
                <div class="v-text-field__details">
                  <div class="v-messages theme--light">
                    <div class="v-messages__wrapper"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="results_ul" style="color: red; top: 49px;"></ul>
            <br/>
          </div>
        </div>
     <li>
      </li>
    </ul>
  </nav>
  <!-- MENU END -->
</div>
