<style media="screen" type="text/css">
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog > div {
    max-width: 1024px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff);
    background: -webkit-linear-gradient(#fff);
    background: -o-linear-gradient(#fff);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
  }
  .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  .close:hover {
    background: #00d9ff;
  }
  .v-image {
    z-index: 0;
  }
  .v-image__image {
    background-repeat: no-repeat;
  }
  .v-image__image--contain {
    background-size: contain;
  }
  .v-image__image,
  .v-image__placeholder {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .v-text-field {
    padding-top: 12px;
    margin-top: 4px;
  }
  .v-text-field.v-text-field--enclosed {
    margin: 0;
    padding: 0;
  }
  .v-input {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 16px;
    text-align: left;
  }
  .v-text-field.v-text-field--solo .v-input__control {
    min-height: 48px;
    padding: 0;
  }
  .v-input__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed > .v-input__control > .v-input__slot {
    padding: 0 12px;
  }

  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
      border-radius: 2px;
      background: #fff;
  }

  .v-text-field > .v-input__control > .v-input__slot {
      cursor: text;
      -webkit-transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
  .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
  }
  .v-text-field.v-text-field--solo .v-text-field__slot {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .v-input__slot {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 8px;
      min-height: inherit;
      position: relative;
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      width: 100%;
  }
  .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: rgba(0,0,0,0.87);
  }
  .v-input input {
      max-height: 32px;
  }
  .v-text-field input {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      line-height: 20px;
      padding: 8px 0 8px;
      max-width: 100%;
      min-width: 0px;
      width: 100%;
  }
  button, input, select, textarea {
      background-color: transparent;
      border-style: none;
      color: inherit;
  }
  button, input, optgroup, select, textarea {
      font: inherit;
  }
  input {
      border-radius: 0;
  }

  .theme--light.v-card {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
  }
  .v-card {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    text-decoration: none;
  }
  .v-card--flat {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
      0 0 0 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
      0 0 0 0 rgba(0, 0, 0, 0.12);
  }
  .hidden-sm-and-down {
    display: none;
  }
  .pointer {
    cursor: pointer;
  }
  .v-sheet {
    display: block;
    border-radius: 2px;
    position: relative;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
  .theme--light.v-sheet {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
  }
  .application--wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }
  .pt-2 {
    padding-top: 8px !important;
  }
  .v-avatar,
  .v-avatar .v-icon,
  .v-avatar .v-image,
  .v-avatar img {
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .v-avatar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }
  .v-avatar .v-icon,
  .v-avatar .v-image,
  .v-avatar img {
    height: inherit;
    width: inherit;
  }
  .v-avatar,
  .v-avatar .v-icon,
  .v-avatar .v-image,
  .v-avatar img {
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .v-responsive {
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .v-responsive__sizer {
    -webkit-transition: padding-bottom 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: padding-bottom 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
  }
  .v-image {
    z-index: 0;
  }
  #back_menu {
    height: 100vh;
    width: 100vw;
    position: "relative";
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
    display: none;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
  .search_position {
    position: absolute;
    right: 0px;
    height: 30px;
  }
  .container {
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    margin: auto;
    padding: 24px;
    width: 100%;
  }
  nav {
    position: inherit;
    width: 100%;
    background: #fafafa;
    font-size: 14px;
  }

  /* first stage */

  nav > ul {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 5px;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid#ddd;
    z-index: 9;
  }

  nav a {
    display: block;
    color: black;
    text-decoration: none;
  }

  nav ul li {
    color: #fff;
    list-style: none;
    transition: 0.15s;
  }

  nav > ul > li > a {
    padding: 15px 25px;
  }

  nav ul > li.submenu:hover > a:after {
    margin-top: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid green;
  }

  nav > ul > li:hover {
    /* background: red; */
    border-bottom: 5px solid green;
  }

  /* second stage (the mega-menu) */

  nav ul.megamenu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: -9999px;
    left: 0;
    padding: 20px 10px 0;
    background: #fff;
    text-align: left;
    /* border-top: 5px solid green; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition-delay: 0.15s;
  }

  nav ul li:hover ul.megamenu {
    top: 100%;
  }

  /* third stage (child-menus in the mega-menu) */

  nav ul.megamenu ul {
    width: 20%;
    margin-bottom: 10px;
    color: #000;
    box-shadow: none;
  }

  nav ul.megamenu h4 {
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  li.submenu > ul > ul > a{
    line-height: 25px;
  }

  nav ul.megamenu ul li {
    display: block;
    padding-top: 5px;
  }

  nav ul.megamenu ul li {
    display: block;
  }

  nav ul.megamenu ul li a {
    margin-top: 10px;
    transition: 0.2s;
    color: #000;
  }

  nav ul.megamenu ul li a:hover {
    color: #4096ee;
  }
  .menu_for_xl {
    min-height: 32%;
    max-width: 1092px;
    background-color: white;
    top: 138px !important;
    min-width: 1085px !important;
    left: 412px !important;
  }
  .menu_for_lg {
    min-height: 32%;
    max-width: 1092px;
    background-color: white;
    top: 138px !important;
    min-width: 1085px !important;
    left: 7.5% !important;
  }
  .menu_for_md {
    min-height: 32%;
    max-width: 1092px;
    background-color: white;
    top: 138px !important;
    min-width: 1085px !important;
    left: 30px !important;
  }
  .main-menu {
    /* border-top: 1px solid #ddd; */
    border-bottom: 1px solid #ddd;
    z-index: 1;
    margin-bottom: 6px;
    height: 70px;
    margin-top: -10px;
  }
  .v-list__tile {
    margin-top: 18px;
  }

  .head_section {
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #8fca00;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
  }
  .link-format {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    font-family: Lato, sans-serif;
  }
  .link-format:hover {
    text-decoration: underline;
  }
  .head_menu {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
  }
  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pl-1 {
    padding-left: 4px !important;
  }

  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }

  .subheading {
    font-size: 16px !important;
    font-weight: 400;
  }
  .flex {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }
  .flex.sm2 {
    -ms-flex-preferred-size: 16.666666666666664%;
    flex-basis: 16.666666666666664%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 16.666666666666664%;
  }
  .flex.sm4 {
    flex-basis: 33.33333333333333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.33333333333333%;
  }
  .flex.sm3 {
    flex-basis: 25%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 25%;
  }
  .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 0;
  }
  .layout.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .layout.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .text-capitalize {
    text-transform: capitalize !important;
  }

  .font-weight-regular {
    font-weight: 400 !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  /* ################################################################## */
  @media (min-width: 600px) {
    nav {
      font-size: 16px;
    }
    .head_menu {
      font-size: 14px;
      line-height: 24px;
    }
    .hidden-sm-and-down {
      display: block;
    }
  }

  @media (min-width: 960px) {
    .search_position {
      right: 0px;
    }
    .container {
      max-width: 1140px;
    }
    nav {
      font-size: 18px;
      display: block;
    }

    /* first stage */

    nav > ul {
      height: 50px;
      margin-bottom: 5px;
    }

    nav > ul > li > a {
      padding: 15px 25px;
    }

    nav ul > li.submenu:hover > a:after {
      margin-top: 2px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid green;
    }

    nav > ul > li:hover {
      border-bottom: 5px solid green;
    }

    /* second stage (the mega-menu) */

    nav ul.megamenu {
      width: 100%;
      top: -9999px;
      left: 0;
      padding: 20px 10px 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    nav ul li:hover ul.megamenu {
      top: 100%;
    }

    /* third stage (child-menus in the mega-menu) */

    nav ul.megamenu ul {
      width: 20%;
      margin-bottom: 10px;
    }

    nav ul.megamenu h4 {
      margin-bottom: 5px;
    }

    nav ul.megamenu ul li a {
      margin-top: 10px;
    }

    .menu_for_xl {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 412px !important;
    }
    .menu_for_lg {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 7.5% !important;
    }
    .menu_for_md {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 30px !important;
    }
    .main-menu {
      margin-bottom: 6px;
      height: 70px;
      margin-top: -10px;
    }
    .v-list__tile {
      margin-top: 18px;
    }

    .head_section {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.05em;
    }
    .link-format {
      font-size: 14px;
    }
    .head_menu {
      font-size: 14px;
      line-height: 24px;
    }
    .results_ul {
      background-color: white;
      border: 2px solid darkgrey;
      border-radius: 8px;
      font: inherit;
      line-height: 1.5em;
      padding: 1em 2.5em 1em 1em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      display: none;
      z-index: 100000 !important;
      position: absolute;
    }
  }

  /* ################################################################## */
  @media (min-width: 600px) {
    nav {
      font-size: 16px;
    }
    .head_menu {
      font-size: 12px;
      line-height: 24px;
    }
    .hidden-sm-and-down {
      display: block;
    }
    .hidden-mobile {
      display: none;
    }
  }

  @media (min-width: 960px) {
    .hidden-mobile {
      display: none;
    }
    .search_position {
      right: 0px;
    }
    .container {
      max-width: 1140px;
    }
    nav {
      font-size: 14px;
      display: block;
    }
    nav a {
      font-weight: 500;
      color: #333;
    }
    /* first stage */
    nav > ul {
      height: 50px;
      margin-bottom: 5px;
    }
    nav > ul > li > a {
      padding: 15px 25px;
    }
    nav ul > li.submenu:hover > a:after {
      margin-top: 2px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid green;
    }
    nav > ul > li:hover {
      border-bottom: 5px solid green;
    }
    /* second stage (the mega-menu) */
    nav ul.megamen1300px;
      top: -9999px;
      left: 0;
      padding: 20px 10px 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    nav ul li:hover ul.megamenu {
      top: 100%;
    }
    /* third stage (child-menus in the mega-menu) */
    nav ul.megamenu ul {
      width: 20%;
      margin-bottom: 10px;
    }
    nav ul.megamenu h4 {
      margin-bottom: 5px;
    }
    nav ul.megamenu ul li a {
      margin-top: 10px;
    }
    .menu_for_xl {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 412px !important;
    }
    .menu_for_lg {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 7.5% !important;
    }
    .menu_for_md {
      min-height: 32%;
      max-width: 1092px;
      top: 138px !important;
      min-width: 1085px !important;
      left: 30px !important;
    }
    .main-menu {
      margin-bottom: 6px;
      height: 70px;
      margin-top: -10px;
    }
    .v-list__tile {
      margin-top: 18px;
    }

    .head_section {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.05em;
    }
    .link-format {
      font-size: 12px;
    }
    .head_menu {
      font-size: 12px;
      line-height: 24px;
    }
  }
</style>
<div id="menu_config" data-base-api-url="<%= base_api_url %>" data-base-search-url="<%= base_search_url %>" style="height: 0 !important; margin: 0 !important; padding: 0 !important"></div>
<div class="modalDialog" id="weather_modal">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <div class="layout">
      <div class="flex">
        <div class="v-card v-card--flat v-sheet theme--light">
          <div class="v-responsive v-image" style="height: 100px;">
            <%= image_tag(asset_url("weather/#{weather[0].icon}.svg"),
                class: "v-image__image v-image__image--contain", style:
                "background-position: center center;") %>
          </div>
          <div class="v-card__title">
            <div class="flex">
              <h3 class="text-md-center headline mb-2">Hoy</h3>
              <p class="text-md-center subheading">
                Actual: <%= weather[0].current_temp.to_i %>°
              </p>
              <p class="text-md-center subheading">
                Mínima:<%= weather[0].min_temp.to_i %>°
              </p>
              <p class="text-md-center subheading">
                Máxima:<%= weather[0].max_temp.to_i %>°
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="v-card v-card--flat v-sheet theme--light">
          <div class="v-responsive v-image" style="height: 100px;">
            <%=
            image_tag(asset_url("weather/#{weather[0].tomorrow_icon}.svg"),
            class: "v-image__image v-image__image--contain", style:
            "background-position: center center;") %>
          </div>
          <div class="v-card__title">
            <div class="flex">
              <h3 class="text-md-center headline mb-2">
                <%= l(Date.today + 1, format: '%A') %>
              </h3>
              <p class="text-md-center subheading">
                Mínima:<%= weather[0].tomorrow_min.to_i %>°
              </p>
              <p class="text-md-center subheading">
                Máxima:<%= weather[0].tomorrow_max.to_i %>°
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="v-card v-card--flat v-sheet theme--light">
          <div class="v-responsive v-image" style="height: 100px;">
            <%=
            image_tag(asset_url("weather/#{weather[0].after_tomorrow_icon}.svg"),
            class: "v-image__image v-image__image--contain", style:
            "background-position: center center;") %>
          </div>
          <div class="v-card__title">
            <div class="flex">
              <h3 class="text-md-center headline mb-2">
                <%= l(Date.today + 2, format: '%A') %>
              </h3>
              <p class="text-md-center subheading">
                Mínima:<%= weather[0].after_tomorrow_min.to_i %>°
              </p>
              <p class="text-md-center subheading">
                Máxima:<%= weather[0].after_tomorrow_max.to_i %>°
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="v-card v-card--flat v-sheet theme--light">
          <div class="v-responsive v-image" style="height: 100px;">
            <%=
            image_tag(asset_url("weather/#{weather[0].aa_tomorrow_icon}.svg"),
            class: "v-image__image v-image__image--contain", style:
            "background-position: center center;") %>
          </div>
          <div class="v-card__title">
            <div class="flex">
              <h3 class="text-md-center headline mb-2">
                <%= l(Date.today + 3, format: '%A') %>
              </h3>
              <p class="text-md-center subheading">
                Mínima:<%= weather[0].aa_tomorrow_min.to_i %>°
              </p>
              <p class="text-md-center subheading">
                Máxima:<%= weather[0].aa_tomorrow_max.to_i %>°
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="v-card v-card--flat v-sheet theme--light">
          <div class="v-responsive v-image" style="height: 100px;">
            <%=
            image_tag(asset_url("weather/#{weather[0].aaa_tomorrow_icon}.svg"),
            class: "v-image__image v-image__image--contain", style:
            "background-position: center center;") %>
          </div>
          <div class="v-card__title">
            <div class="flex">
              <h3 class="text-md-center headline mb-2">
                <%= l(Date.today + 4, format: '%A') %>
              </h3>
              <p class="text-md-center subheading">
                Mínima:<%= weather[0].aaa_tomorrow_min.to_i %>°
              </p>
              <p class="text-md-center subheading">
                Máxima:<%= weather[0].aaa_tomorrow_max.to_i %>°
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="indicators_modal" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <div class="layout">
        <div class="flex">
          <div class="display-1 font-weight-thin v-card v-card--flat v-sheet theme--light">
            <div class="v-card__title">
              <div class="text-truncate">Dolar</div>
            </div>
            <div class="flex">
              <div class="v-card__title subheading font-weight-light">
                <div>Hoy: $<%= indicators[:DOLAR] %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="display-1 font-weight-thin v-card v-card--flat v-sheet theme--light">
            <div class="v-card__title">
              <div class="text-truncate">EURO</div>
            </div>
            <div class="flex">
              <div class="v-card__title subheading font-weight-light">
                <div>Hoy: $<%= indicators[:EURO] %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="display-1 font-weight-thin v-card v-card--flat v-sheet theme--light">
            <div class="v-card__title">
              <div class="text-truncate">UF</div>
            </div>
            <div class="flex">
              <div class="v-card__title subheading font-weight-light">
                <div>
                  Hoy: $<%= indicators[:UF] %>
                  <p class="subheading font-weight-light">Ayer: $<%= indicators[:LATEST_UF].second_to_last%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="display-1 font-weight-thin v-card v-card--flat v-sheet theme--light">
            <div class="v-card__title">
              <div class="text-truncate">IPC</div>
            </div>
            <div class="flex">
              <div class="v-card__title subheading font-weight-light">
                <div>
                  Hoy: $<%= indicators[:IPC] %>
                  <p><%= l(today-1.month, format: '%B') %>: <%= indicators[:LATEST_IPC].second_to_last %> </p>
                  <%= l(today-2.month, format: '%B') %>: <%= indicators[:LATEST_IPC].third_to_last %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="display-1 font-weight-thin v-card v-card--flat v-sheet theme--light">
            <div class="v-card__title">
              <div class="text-truncate">UTM</div>
            </div>
            <div class="flex">
              <div class="v-card__title subheading font-weight-light">
                <div>
                  Hoy: $<%= indicators[:UTM] %>
                  <p><%= l(today-1.month, format: '%B') %>: <%= indicators[:LATEST_UTM].second_to_last %> </p>
                  <%= l(today-2.month, format: '%B') %>: <%= indicators[:LATEST_UTM].third_to_last %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="display-1 font-weight-thin v-card v-card--flat v-sheet theme--light">
            <div class="v-card__title">
              <div class="text-truncate">IPSA</div>
            </div>
            <div class="flex">
              <div class="v-card__title subheading font-weight-light">
                <div>
                  Hoy: $<%= indicators[:IPSA] %>
                  <p>Variación: <%= indicators[:IPSA_VARIATION] %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div style="padding-top: 20px;">
  <div class="hidden-sm-and-down">
    <div class="layout">
      <div class="flex sm2">
        <a href="/#/">
          <img
            src="http://intranet-security-dev.s3-website.us-east-2.amazonaws.com/img/header.41ac21fa.png"
            style="height: 2rem; cursor: pointer; margin-top: 2px;"
          />
        </a>
      </div>

      <div class="flex text-md-left subheading sm2" style="margin-top: 3px;">
        Santoral: <%= santoral.name[0...12] %>
      </div>

      <div class="flex sm2 pointer">
        <a href="#weather_modal" style="text-decoration: none; color: black;">
          <div class="v-responsive v-image" style="height: 24px;">
            <div>
              <%= image_tag(asset_url("weather/#{weather[0].icon}.svg"), style: "height: 24px; cursor: pointer; margin: 5px 0 0 0;padding-right: 7px;")%>
            </div>
            <div class="text-md-center subheading" style="margin-top: 3px;">
              <%= location_name %>: 
							<% if weather[0].present? %> 
								<%= weather[0].current_temp.to_i %>° 
							<% else %>
								<%= 'Clima no disponible'%> 
							<% end %>
            </div>
          </div>
        </a>
      </div>

      <div class="flex sm2 text-md-left subheading pointer">
        <a href="#indicators_modal" style="text-decoration: none; color: black;">
					<i aria-hidden="true" class="v-icon material-icons theme--light" style="margin-top: 3px;">multiline_chart</i>
						<div style="margin-top: -26px; margin-left: 27px;">Indicadores económicos</div>
				</a>
      </div>

      <div class="flex text-md-right text-capitalize title font-weight-regular sm4">
        <a href="/#/perfil" style="text-decoration: none; color: black;">
           ¡Hola <%= user.name %>!
          <div class="v-avatar" style="height: 50px; width: 50px; margin-top: -15px;">
            <div aria-label="Avatar" class="v-responsive v-image" style="margin-top: -5px;">
              <% if user.image.attached? %> 
                <%= image_tag(user.image) %> 
              <% end%>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="layout">
      <img class="hidden-sm-and-down" src="https://s3.us-east-2.amazonaws.com/intranet-security-assets/huincha.jpg" style="height: 0.5rem; width: 50%;"/>
      <img class="hidden-sm-and-down" src="https://s3.us-east-2.amazonaws.com/intranet-security-assets/huincha.jpg" style="height: 0.5rem; width: 50%;"/>
    </div>
  </div>
  <nav fixed>
    <% main_menus = General::Menu.where(parent_id: nil) %>
    <ul id="ul_menu">
      <% main_menus.each do |main_menu| %>
        <li class="submenu" id="submenu1">
          <a class="head_menu" href="#" title="Menu 1"><%= main_menu.title %></a>
          <ul class="megamenu" id="megamenu1">
            <% main_menu.children.each do |menu_parent| %>
              <% menu_parent_object = General::Menu.find(menu_parent[:menu_id]) %>
              <ul>
                <h4 class="head_section"><%= menu_parent_object.title %></h4>
                <% menu_parent_object.children(exa_menu).each do |link| %>
                  <% if link[:link].downcase[0..3] == 'http'%>
                    <%= link_to link[:title], link[:link] %>
                  <% else %>
                    <%= link_to link[:title], '/#/' + link[:link] %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </ul>
        </li>
      <% end %>

      <li>
      <div class="search_position">
        <div class="hidden-sm-and-down" id="search_desktop">
          <div class="v-input v-text-field v-text-field--single-line v-text-field--solo v-text-field--solo-flat v-text-field--enclosed theme--light">
            <div class="v-input__control">
              <div class="v-input__slot" style="border: 2px solid darkgray;">
                <div class="v-text-field__slot">
                  <label aria-hidden="true" class="v-label theme--light"></label>
                  <input aria-label="Buscar" id="search_toolbar" right type="text"/>
                </div>
                <div class="v-input__append-inner">
                  <div class="v-input__icon v-input__icon--append">
                    <i aria-hidden="true" class="v-icon v-icon--link material-icons theme--light">search</i>
                  </div>
                </div>
              </div>
              <div class="v-text-field__details">
                <div class="v-messages theme--light">
                  <div class="v-messages__wrapper"></div>
                </div>
              </div>
            </div>
          </div>
          <ul class="results_ul" style="color: red;"></ul>
          <br/>
        </div>
       
      </div>
      </li>
    </ul>
  </nav>
</div>
