<%= f.error_notification %>
<div class="">
  <div class="form-group row">
    <div class="col-12">
      <h4 style="font-size: 16px; margin-top: 17px; font-weight: 700; font-style: italic;">
        Seleccione los filtros con los cuales desea crear el grupo.</h4>
    </div>
    <div class="col-12">
      <%= f.input :name, required: true, autofocus: true %>
    </div>
    <div class="col-4">
      <%= f.label 'Sexo' %>
      <%= select_tag :genders, options_for_select(@genders, @selected_genders), multiple: true, class:' form-control string optional' %>
    </div>
    <div class="col-4">
      <%= f.label 'Cargo jefe' %>
      <%= select_tag :is_boss, options_for_select(@is_boss, @selected_boss), multiple: true, class:' form-control string optional' %>
    </div>
    <div class="col-4">
      <%= f.label 'Clasificación Empleado' %>
      <%= select_tag :employee_classifications, options_for_select(@employee_classifications, @selected_employee_classifications), multiple: true, class:' form-control string optional' %>
    </div>
    <!--
    <div class="col-4">
      <%= f.label 'Región' %>
      <%= select_tag :regions, options_for_select(@regions.collect {|region| [region[1], region[0]]}, @selected_regions), multiple: true, class:' form-control string', id: 'regions' %>
    </div>
    <div class="col-4">
      <%= f.label 'Grupo de Beneficiarios' %>
      <%= select_tag :benefit_groups, options_for_select(@benefit_groups.collect {|bg| [bg[1], bg[0]]}, @selected_benefit_groups), multiple: true, class:' form-control string' %>
    </div>
    <div class="col-4">
      <%= f.label 'Empresas' %>
      <%= select_tag :companies, options_for_select(@companies.collect {|company| [company[1], company[0]]}, @selected_companies), multiple: true, class:' form-control string', id: 'companies' %>
    </div>
    <div class="col-4">
      <%= f.label 'Gerencias' %>
      <%= select_tag :managements, options_for_select(@managements.collect {|management| [management[1], management[0]]}, @selected_managements), multiple: true, class:' form-control string', id: 'managements' %>
    </div>
    <div class="col-4">
      <%= f.label 'Centro de Costos' %>
      <%= select_tag :cost_centers, options_for_select(@cost_centers.collect {|cost_center| [cost_center[1], cost_center[0]]}, @selected_cost_centers), multiple: true, class:' form-control string', id: 'cost_centers' %>
    </div> -->
    <div class="col-4">
      <%= f.label 'Clasificaciones de puesto' %>
      <%= select_tag :position_classifications, options_for_select(@position_classifications, @selected_position_classifications), multiple: true, class:' form-control string'%>
    </div>
    <div class="col-4">
      <%= f.label 'Miembro Sindicato' %>
      <%= select_tag :syndicate_members, options_for_select(@syndicate_members, @selected_syndicate_members), multiple: true, class:' form-control string'%>
    </div>
    <div class="col-4">
      <%= f.label 'Tipo de contrato' %>
      <%= select_tag :contract_types, options_for_select(@contract_types, @selected_contract_types), multiple: true, class:' form-control string'%>
    </div>
    <div class="col-4">
      <%= f.label 'Rol' %>
      <%= select_tag :roles, options_for_select(@roles, @selected_roles), multiple: true, class:' form-control string'%>
    </div>
    <div class="col-4">
      <%= f.label 'Horario' %>
      <%= select_tag :schedules, options_for_select(@schedules, @selected_schedules), multiple: true, class:' form-control string'%>
    </div>
    <div class="col-4">
      <%= f.label 'Tiene hijos' %>
      <%= select_tag :has_children, options_for_select(@has_children, @selected_has_children), multiple: true, class:' form-control string'%>
    </div>
  </div>
  <div class="col-7">
  </div>
</div>
<%= f.submit 'Guardar', :class => 'btn btn-primary ' %>
