<section class="section">
  <h1 class="section-header">Nombre: <%= @profile.name %></h1>
  <div class="card">
    <div class="card-body">
      <div class="col-12">
        Oficinas:
        <ul>
          <% @office_countries.each do |country| %>
            <li><%= country.name %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <%= link_to 'Descargar listado de usuarios', users_list_admin_profile_path(@profile, format: 'xlsx'), method: 'get'%>
      </div>
    </div>
  </div>
  <div>
    <%= link_to t('.back', :default => t("helpers.links.back")), admin_profiles_path, :class => 'btn btn-primary'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_profile_path(@profile), :class => 'btn btn-primary' %>
  </div>
</section>
