<%- model_class = Library::Author -%>
<section class="section">
  <h1 class="section-header"><%= "Autores" %></h1>
  <%= link_to "Nuevo", new_admin_author_path, class: 'btn btn-primary btn-sm mb-1' %>
  <div class="card">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th><%= 'Nombre' %></th>
            <th><%= 'Acciones' %></th>
          </tr>
        </thead>
        <tbody>
          <% @authors.each do |author| %>
            <tr>
              <td><%= author.name %></td>
              <td>				
								<%= link_to t('.show', :default => t("helpers.links.show")),
															admin_author_path(author), :class => 'btn btn-success btn-sm' %>
								<%= link_to t('.edit', :default => t("helpers.links.edit")),
															edit_admin_author_path(author), :class => 'btn btn-primary btn-sm' %>
								<%= link_to 'Eliminar',
															admin_author_path(author),
															:method => :delete,
															:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Estás seguro?')) },
															:class => 'btn btn-sm btn-danger'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= will_paginate @authors, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</section>