<p>Hola Supervisor,</p>
<p>Has aprobado la rendición n° <%= @request.id %> de <%= @request.user.full_name %> que indica:</p>
<p><%= @request.description %></p>
<p>por un monto de <%= @request.divisa_id %><%= @request.total %> </p>
<p>Muchas gracias.</p>
