<%= f.error_notification %>
  <div class="form-group row">



    <div class="col-sm-7">
      <div class="row">
        <div class="col-12 col-sm-12">
          <%= f.input :title, required: true, autofocus: true %>
        </div>
        <div class="col-12 col-sm-12">
          <%= f.input :content %>
        </div>
        <div class="col-12 col-sm-12">
          <%= f.input :message_type, collection: @message_types, selected: @message.message_type%>
        </div>  
        <div class="col-12 col-sm-12">
          <%= f.label 'Tags inclusivos' %>
          <%= select_tag :terms_names, options_for_select(General::Term.inclusive_tags.map{|i| [i.name]}, f.object.terms.inclusive_tags.map(&:name)), multiple: true, class:' form-control string optional', id: 'inclusive_tag' %>
        </div>  
        <div class="col-12 col-sm-12">
          <%= f.label 'Tags exclusivos' %>
          <%= select_tag :terms_names, options_for_select(General::Term.exclusive_tags.map{|i| [i.name]}, f.object.terms.exclusive_tags.map(&:name)), multiple: true, class:' form-control string optional', id: 'exclusive_tag' %>
        </div>                        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="card border-secondary mb-2">
          <div class="card-body text-secondary border border-primary rounded">
            <% if @message.image.attachment.present? %>
                <%= image_tag(@message.image.variant(resize: '300x300>'), class: 'center') %>
            <% else %>  
              <img src="https://zcoin.io/wp-content/uploads/2017/01/blank-avatar-e1484377033610.png" alt="rss feed" />
            <% end %>
            <div class="center">
              <%= f.input :image, required: true, input_html: { accept:'image/*' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>
