<%= f.error_notification %>
<div class="form-group row">
  <div class="col-sm-7">
    <div class="row">
      <div class="col-12 col-sm-12">
        <%= f.input :title, required: true, autofocus: true %>
      </div>
      <div class="col-12 col-sm-12">
        <%= f.input :message_type, collection: @message_types, selected: @message.message_type%>
      </div>
      <div class="col-12 col-sm-12">
        <% selected_value = @message.profile_id || General::Profile.find_by_name("General").id %>
        <%= f.label 'Perfilamiento' %>
        <%= f.select :profile_id, options_for_select(General::Profile.all.map{|profile| [profile.name, profile.id]}, selected_value), {}, disabled: @message.message_type != "general"%>
      </div>
      <div class="col-12 col-sm-12">
        <%= f.label "Contenido" %>
        <%= f.text_area :content, class: 'tinymce' %>
        <%= tinymce height: "400", :relative_urls => false  %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="card border-secondary mb-2">
        <div class="card-body text-secondary border border-primary rounded">
          <% if @message.image.attachment.present? %>
            <%= image_tag(@message.image.variant(resize: '300x300>'), class: 'left') %>
          <% else %>
            <img src="https://zcoin.io/wp-content/uploads/2017/01/blank-avatar-e1484377033610.png" alt="rss feed" />
          <% end %>
          <div class="left">
            <%= f.input :image, required: true, input_html: { accept:'image/*' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>
