<%= f.error_notification %>
  <div class="form-group row">
    <div class="col-6">
      <%= f.input :title, required: true, autofocus: true %>
    </div>
     <div class="col-6">
      <%= f.input :description, required: true, autofocus: true %>
    </div>
     <div class="col-6">
      <%= f.input :position, required: true, autofocus: true %>
    </div>
    <div class="col-6">
      <%= f.label 'Url Interna' %></br>
      <%= f.select :url, News::Post.all.map{|p| ["#{p.id} - #{p.title}".truncate(60), p.id] } %>

    </div>
    <div class="col-6" >
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary border border-primary rounded">
          <% if @section.image.attachment.present? %>
                <%= image_tag(@section.image.variant(resize: '500x500>'), class: 'center') %>
          <% else %>  
            <img src="https://zcoin.io/wp-content/uploads/2017/01/blank-avatar-e1484377033610.png" alt="rss feed" />
          <% end %>
          <div class="center">
            <%= f.input :image, required: true, input_html: { accept:'image/*' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= f.submit 'Crear Link', :class => 'btn btn-primary' %>