<%- model_class = General::Link -%>
<section class="section">
  <h1 class="section-header"><%= "Secciones" %></h1>
  <%= link_to "Nuevo", new_admin_section_path, class: 'btn btn-primary btn-sm mb-1' %>
  <div class="card">
    <h5 class="section-header mb-0">Superior</h5>
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th>Título</th>
            <th>Fecha creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @top_sections.each do |section| %>
            <tr>
              <td><%= section.title.truncate(70) %></td>
              <td><%= custom_date_no_hour(section.created_at)  %></td>
              <td>
                <%= link_to t("helpers.links.show"),
                              admin_section_path(section), :class => 'btn btn-success btn-xs' %>
                <%= link_to t("helpers.links.edit"),
                              edit_admin_section_path(section), :class => 'btn btn-primary btn-xs' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
      </div>
    </div>
  </div>


  <div class="card">
    <h5 class="section-header mb-0">Inferior</h5>
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th>Título</th>
            <th>Fecha creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @bottom_sections.each do |section| %>
            <tr>
              <td><%= section.title.truncate(70) %></td>
              <td><%= custom_date_no_hour(section.created_at)  %></td>
              <td>
                <%= link_to t("helpers.links.show"),
                              admin_section_path(section), :class => 'btn btn-success btn-xs' %>
                <%= link_to t("helpers.links.edit"),
                              edit_admin_section_path(section), :class => 'btn btn-primary btn-xs' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
</section>