<%= f.error_notification %>
<div class="form-group row">
  <div class="col-7">
    <div class="col-12">
      <%= f.input :title, required: true, autofocus: true %>
    </div>
    <div class="col-12">
      <%= f.input :url %>
    </div>
    <div class="col-12">
      <div class="form-group form-check">
        <%= f.check_box :is_blank, class: 'form-check-input' %>
        <%= f.label 'Abrir en una nueva pestaña'%>
      </div>
    </div>
  </div><!-- /.col-7 -->
  
  <div class="col-5" >
    <div class="card border-secondary mb-2">
      <div class="card-body text-secondary border border-primary rounded">
        <% if @link.image.attachment.present? %>
          <%= image_tag(@link.image.variant(resize: '300x300>'), class: 'left') %>
          <div class="left mt-2">
            <%= f.file_field :image, required: false, input_html: { accept:'image/*' } %>
          </div>
        <% else %>
          <img src="https://zcoin.io/wp-content/uploads/2017/01/blank-avatar-e1484377033610.png" alt="rss feed" />
          <div class="left mt-2">
            <%= f.file_field :image, input_html: { accept:'image/*' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>
