<%- model_class = General::Link -%>
<section class="section">
  <h1 class="section-header"><%= "Links" %></h1>
  <%= link_to "Nuevo", new_admin_link_path, :class => 'btn btn-primary btn-sm mb-1' %>
  <div class="card">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th><%= 'Título' %></th>
            <th><%= 'Fecha Creación' %></th>
            <th><%= '¿Enlace abre en nueva pestaña?' %></th>
            <th><%= 'Acciones' %></th>
          </tr>
        </thead>
        <tbody>
          <% @links.each do |link| %>
            <tr>
              <td><%= link.title %></td>
              <td><%= custom_date_no_hour(link.created_at) %></td>
              <td><%= link.is_blank ? "Si" : "No" %></td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                              admin_link_path(link), :class => 'btn btn-success btn-sm' %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_admin_link_path(link), :class => 'btn btn-primary btn-sm' %>
                <%= link_to 'Eliminar',
                              admin_link_path(link),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Esta segura(o) que desea eliminar este elemento?')) },
                              :class => 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
</section>
