<%- model_class = General::File -%>
  <section class="section">
    <h1 class="section-header"><%= "Archivos" %></h1>
    <div class="card">
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th><%= 'Nombre' %></th>
              <th><%= 'Fecha Creación' %></th>
              <th><%= 'Acciones' %></th>
            </tr>
          </thead>
          <tbody>
            <% @files.each do |file| %>
              <tr>
                <td><%= file.name %></td>
                <td><%= custom_date_no_hour(file.created_at) %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.files.show")),
                              admin_file_path(file), :class => 'btn btn-success btn-sm' %>
                  <%= link_to t('.edit', :default => t("helpers.files.edit")),
                              edit_admin_file_path(file), :class => 'btn btn-primary btn-sm' %>
                  <%= link_to 'Deshabilitar',
                              admin_file_path(file),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.files.confirm", :default => '¿Estás seguro??')) },
                              :class => 'btn btn-sm btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row justify-content-center">
        </div>
      </div>
    <%= link_to "Nueva", new_admin_file_path, :class => 'btn btn-primary' %>
    </div>
  </section>
