<section class="section">
  <h1 class="section-header">Nombre: <%= @file.name %></h1>
  <div class="card">
    <div class="card-body center">
      <p id="notice"><%= notice %></p>
      <div class="col-12">
        <p>Nombre del archivo: <%= @file.name %></p>
      </div>
      <% if @file.file.attached? %>
        <div class="col-12">
          <%= "Link del archivo: #{root_url + url_for(@file.file)}"%>
        </div>
        <div class="col-12">
          <%=link_to "Descargar archivo", root_url + url_for(@file.file), class: 'btn btn-success btn-block'%>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to t('.back', :default => t("helpers.links.back")), admin_files_path, :class => 'btn btn-primary'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_file_path(@file), :class => 'btn btn-primary' %>
  </div>  
</section>
