<% survey_data = @survey.questions.includes(:options, :answers).map{
  |i| {
    question_id: i.id, 
    question_type: i.question_type,
    question_name: i.title, 
    total_count: (if i.question_type == 'Múltiple' then 1 else i.answers.count end),
    option: i.options.map{
      |option| {option_name: option.title, count: option.answers.count}
    }
  }
} %>
<div class="container">
  <div class="row title_form">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" align="center">
          <div>
            <h2> <strong> <%= @survey.name %> </strong> </h2>
          </div>
        </div>
        <div class="card-body">
          <% @total = survey_data.map{|a| a[:total_count]}.inject(:+) %>
          <h4>Total de respuestas: <%= @total %> </h4>
          <div class="card-text">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pregunta </th>
                    <th scope="col">Tipo </th>
                    <th scope="col">Total</th>
                    <th scope="col">Porcentaje</th>
                    <th scope="col">Opciones </th>
                  </tr>
                </thead>
                <tbody>       
                  <% survey_data.each do |survey| %>       
                    <tr>
                      <td><%= survey[:question_name] %><%=  %></td>
                      <td><%= survey[:question_type] %><%=  %></td>
                      <td><%= survey[:total_count] %></td>
                      <td>
                        <%=  percentage_survey(survey[:total_count], @total) %> %
                      </td>
                      <td><%= survey[:option].map{|option| [option[:option_name], option[:count] ].join(': ')}.join(' , ') %></td>
                      </td>
                    </tr>
                  <% end %>
                </tbody>  
              </table>
            </div>
          </div>
          <%= link_to 'Descargar reporte', report_admin_answer_path(@survey, format: 'xlsx'), method: 'get'%>
      </div>
    </div>
  </div>
</div>
