<%= f.error_notification %>
<div class="card p-4">
  <div class="form-group row">
    <div class="col-8 row">
      <div class="col-md-6">
        <%= f.input :name, required: true, autofocus: true %>
      </div>

      <div class="col-md-6">
        <%= f.input :priority, required: true %>
      </div>
    </div>
  </div>
</div>

<%= link_to t("helpers.links.back"), admin_benefit_types_path, :class => 'btn btn-primary'  %>

<%= f.submit nil, :class => 'btn btn-primary' %>