<%- model_class = General::BenefitType -%>
<section class="section">
  <h1 class="section-header"><%= "Categorías Beneficios" %></h1>

  <%= link_to "Nuevo", new_admin_benefit_type_path, :class => 'btn btn-primary btn-sm mb-1' %>

  <button class="btn btn-info btn-sm mb-1" data-toggle="modal" data-target="#modal_benefit_types">
    <b>?</b>
  </button>

  <div class="card">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th><%= "Nombre" %></th>
            <th><%= "Prioridad" %></th>
            <th><%= "Acciones" %></th>
          </tr>
        </thead>
        <tbody>
          <% @benefit_types.each do |benefit_type| %>
            <tr>
              <td><%= benefit_type.name %></td>
              <td><%= benefit_type.priority %></td>
              <td>
                <%= link_to t("helpers.links.show"),
                              admin_benefit_type_path(benefit_type), :class => 'btn btn-success btn-sm' %>
                <%= link_to t("helpers.links.edit"),
                              edit_admin_benefit_type_path(benefit_type), :class => 'btn btn-primary btn-sm' %>
                <%= link_to t("helpers.links.destroy"),
                              admin_benefit_type_path(benefit_type),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Esta segura(o) que desea eliminar este elemento?')) },
                              :class => 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <%= render partial: 'modal_benefit_types' %>
</section>

<script>
$('#btnClose').click( function () {
  $('#modal_benefit_types').modal('hide')
});
</script>

