<section class="section">
  <h1 class="section-header"><%= t('.category') %>: <%= @benefit_type.name %></h1>
  <div class="card" align="center">
    <div class="card-body">
      <p id="notice"><%= notice %></p>
      <h4><%= t('.benefits') %>: </h4>
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.internal_code') %></th>
            </tr>
          </thead>
          <tbody>
            <% @benefit_type.benefits.order(:id).each do |benefit| %>
              <tr>
                <td><%= benefit.try(:title) %></td>
                <td><%= benefit.code %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div align="center">
    <%= link_to t("helpers.links.back"), admin_benefit_types_path, :class => 'btn btn-primary'  %>
    <%= link_to t("helpers.links.edit"), edit_admin_benefit_type_path(@benefit_type), :class => 'btn btn-primary' %>
  </div>
</section>
