<%= f.error_notification %>
<div class="col-md-12 row pb-4">
  <div class="wrapper col-md-9">
    <div class="form-group row">
      <div class="col-md-4">
        <%= f.input :title, required: true, autofocus: true  %>
      </div>
      <div class="col-md-4">
        <%= f.input :slug %>
      </div>
      <div class="col-md-4 col-sm-4">
        <%= f.label :post_type %><br>
        <%= f.select :post_type, News::Post::TYPE.map { |m| m }, class:'post_type form-control string optional', id:'post_type' %>
      </div>
      <div class="col-md-12" style="margin-bottom: 20px;">
        <%= f.text_area :content, class: 'tinymce' %>
        <%= tinymce %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="col-md-4 hidden">
        <%= f.association :main_image, collecion: @attachments, class: 'hidden'%>
      </div>
      <div class="col-md-4 hidden">
        <%= f.association :galleries, collecion: @galleries %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card p-4 wrapper">
      <div class="form-group row">
        <div class="col-md-12">
          <%= f.input :status, collection: News::Post::STATUS, prompt: :translate %>
        </div>
        <div class="col-md-12">
            <%= f.label "Destacada" %>
            <% if f.object.new_record? %>
              <%= f.check_box :important, class: 'post_type', checked: true %>
            <% else %>
              <%= f.check_box :important, class: 'post_type'%>
            <% end %>
        </div>        
        <%# <div class="col-md-12">
          <%= f.input :visibility, collection: News::Post::VISIBILITY, prompt: :translate %>
        <%# </div> %>
        <div class="col-md-12">
        </div>
        <div class="col-md-12 col-sm-12"><br>
          <div class="input-group date" id="published_at" data-target-input="nearest">
            <% if @post.try(:published_at).present? %>

              <%= f.text_field :published_at, class: 'form-control datetimepicker-input', value: @post.try(:published_at).strftime("%d-%m-%Y %H:%M"), 'data-target' => '#published_at'%>

            <% else %>
            
              <%= f.text_field :published_at, class: 'form-control datetimepicker-input', 'data-target' => '#published_at', placeholder: "Fecha de publicación", label: false %>
            <% end %>
            <div class="input-group-append" data-target="#published_at" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <br>
          <%= f.submit nil, :class => 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
    <div class="card p-4 wrapper" >
      <input type="checkbox" id="select_all" class="form-check-input"/> <strong>Seleccionar todas</strong>
      <div class="form-group">
        <div class= 'scrollDivPost categories'>
          <%= f.association :terms, collection: @categories, as: :check_boxes, class: 'custom-control-input', label: false %>
        </div>
      </div>
    </div>
    <div class="card p-4 wrapper" >
      <div class="form-group row ">
        <div class="col-12 col-sm-12">
          <%= f.label 'Tags inclusivos' %>
          <%= select_tag :terms_names, options_for_select(General::Term.inclusive_tags.map{|i| [i.name]}, f.object.terms.inclusive_tags.map(&:name)), multiple: true, class:' form-control string optional', id: 'inclusive_tag' %>
        </div>  
        <div class="col-12 col-sm-12">
          <%= f.label 'Tags excluyentes' %>
          <%= select_tag :terms_names, options_for_select(General::Term.excluding_tags.map{|i| [i.name]}, f.object.terms.excluding_tags.map(&:name)), multiple: true, class:' form-control string optional', id: 'excluding_tag' %>
        </div>          
      </div>
    </div>    
    <div class="card p-2" >
      <div class="form-group">
          <div class="col-md-12 col-sm-12">
            <h4> Imagen principal </h4>
              <%# <img id="image" src="#" alt="your image" /> %>
            <br>
            <% if @post.id.nil? %>
              <%= image_tag((root_url + '/assets/post_news_mini.png'), id:'image_preview', :size => '180x120', :crop => :fill) %>
              <br />
              <%= link_to 'Imagen Principal', new_admin_attachment_path(), 'data-toggle' => 'modal', 'data-target' => '#main_image_modal',id: 'main_image_nil', remote: true %>
            <% else %>
              <%= link_to 'Imagen Principal', new_admin_post_attachment_path(@post), 'data-toggle' => 'modal', 'data-target' => '#main_image_modal', id: 'main_image', remote: true %>
            <% end %>
          </div>
      </div>
    </div>
    <div class="card pt-2" >
      <div class="form-group ">
        <div class="col-md-12 col-sm-12">
          <h4> Galería </h4>
          <br>
          <% if @post.id.nil? %>
          <%= link_to 'Establecer Galería', new_admin_gallery_path(), 'data-toggle' => 'modal', 'data-target' => '#gallery_modal', class:'', remote: true, id: 'gallery1' %>
          <% else %>
          <%= link_to 'Establecer Galería', new_admin_post_gallery_path(@post), 'data-toggle' => 'modal', 'data-target' => '#gallery_modal', class:'', remote: true, id: 'gallery2' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card pt-2" >
      <div class="form-group ">
        <div class="col-md-12 col-sm-12">
          <h4> Formato </h4>
        </div>
         <div class="col-md-12">
          <%= f.input :format, required: true, collection: News::Post::FORMAT.map{|j,k| [k,j] },  :selected => 0, prompt: :translate %>
          <div>
            <i class="fas fa-exclamation-circle" rel="tooltip" title="Estilo 1: Normal - Estilo 2: Rosado - Estilo 3: Naranja" id="ben_img"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});
</script>