<%- model_class = News::Post -%>
  <section class="section">
    <h1 class="section-header"><%= "Noticias" %></h1>
    <div class="card">
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th><%= 'Identificador' %></th>
              <th><%= 'Título' %></th>
              <th><%= 'Fecha Publicación' %></th>
              <th><%= 'Fecha Creación' %></th>
              <th><%= 'Acciones' %></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.id, admin_post_path(post) %></td>
                <td><%= post.title %></td>
                <td><%= post.published_at %></td>
                <td><%= post.created_at.strftime("%d %b, %Y")  %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                              admin_post_path(post), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_admin_post_path(post), :class => 'btn btn-default btn-xs' %>
                  <%= link_to 'Deshabilitar',
                              admin_post_path(post),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-sm btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <%= will_paginate %>
        </div>
      </div>
    <%= link_to "Nueva", new_admin_post_path, :class => 'btn btn-primary' %>
    </div>
  </section>
