<div class="container">
<section class="section">
  <h2 class="section-header"><%= @post.title %></h2>
</section>
<div class="container">
  <div class="card post_card">
    <div class="row">
      <div class="col-md-4">
        <b><%= fullname_user(@post.user_id) %></b>
      </div>
      <div class="col-md-6">
        <b>Última actualización:</b> <%= l(@post.updated_at, format: :long2) %>
      </div>
      <div class="col-md-2 text-right">
        <%= get_post_status(@post) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag url_for(News::Post.check_image(@post))  %>
    </div>
    <div class="col-sm-7">
      <div class="card post_card">
        <b>Slug: <%= @post.slug %></b><br>
        <b>Publicado el: <%= custom_date(@post.published_at) if @post.published_at.present? %></b><br>
        <p><strong> Etiquetas incluyentes: </strong></p>
        <%= @post.terms.inclusive_tags.map(&:name).join(', ') %>
        <p><strong> Etiquetas excluyentes: </strong></p>
        <%= @post.terms.excluding_tags.map(&:name).join(', ') %>
        <b>Visibilidad: <%= @post.visibility %></b><br>
        <b>Tipo de publicación: <%= @post.post_type %></b><br>
        <b>Importante: <%= @post.important? ? 'Si' : 'No' %></b><br>
        <b>Estilo: <%= format_post(@post.format) %></b><br>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="col-sm-12">
      <div class="card post_card">
        <%= raw @post.content %>
      </div>
    </div>
  </div>
  <div class="container" align="center">
    <div class="row">
      <div class="col-sm-2">
        <%= link_to t('.back', :default => t("helpers.links.back")), admin_posts_path, :class => 'btn btn-primary btn-sm'  %>
      </div>
      <div class="col-sm-2">
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_post_path(@post), :class => 'btn btn-primary btn-sm' %>
      </div>
      <div class="col-sm-2">
        <%= link_to 'Deshabilitar', admin_post_path(@post),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) },:class => 'btn btn-danger btn-sm', onclick: 'confirm_data()' %>
      </div>
      <div class="col-sm-2">
        <% if @post.galleries.present? %>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".gallery-modal-lg" id='show_gallery'>Ver Galería</button>
        <% end %>
      </div>
      <div class="col-sm-2">
        <% environment = Rails.env.development? ? 'http://localhost:8080' : 'http://intranet-security-qa-v1.s3-website.us-east-2.amazonaws.com' %>
        <%= link_to "Ver usuario final", "#{environment}/noticias/#{@post.slug}", target: "_blank", class: 'btn btn-success btn-sm' %>
      </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="modal fade gallery-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="row text-center scrollDivPostImage" >
            <% @post.galleries.each do |gal| %>
                <p class='col-md-12 text-center'>
                  <b>Nombre galería:</b>  <%= gal.name %>
                </p><br />
                <% gal.attachments.each do |image| %>
                  <div class="col-md-6">
                    <figure>
                      <%= image_tag(image.attachment.attachment.variant(resize: '300x255>'), class: 'img-thumbnail post_attachment') %>
                    <figure>
                    <figcaption>
                      <%= image.name %>
                    </figcaption>
                  </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>