<div class="container">
<section class="section">
  <h2 class="section-header"><%= @post.title %></h2>
</section>

<div class="container">

  <div class="card post_card">
    <div class="row">
      <div class="col-md-4">
        <b><%= fullname_user(@post.user_id) %></b>
      </div>
      <div class="col-md-4 ml-auto text-right">
        <%= get_post_status(@post) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <% unless @post.main_image == nil %>
        <%= image_tag @post.main_image.large,  class: "img-thumbnail"%>
      <% end %>
    </div>
    <div class="col-sm-7">
      <div class="card post_card">
        <b>Slug: <%= @post.slug %></b><br>
        <p><strong> Tags incluyentes: </strong></p>
        <%= @post.terms.inclusive_tags.map(&:name).join(', ') %>
        <p><strong> Tags excluyentes: </strong></p>
        <%= @post.terms.excluding_tags.map(&:name).join(', ') %>
        <b>Visibilidad: <%= @post.visibility %></b><br>
        <b>Tipo de publicación: <%= @post.post_type %></b><br>
        <b>Importante: <%= @post.important? ? 'Si' : 'No' %></b><br>
        <b>Estilo: <%= format_post(@post.format) %></b><br>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="card post_card">
      <div class="col-sm-12">
        <%= raw @post.content %>
      </div>
    </div>
  </div>
</div>