<div class="container">
  <section class="section">
    <h2 class="section-header">Caso # <%= @ticket.id %> - <%= t("ticket.status.#{@ticket.status}") %></h2>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card post_card">
            <div class="card-header">
              <h3 class="card-title">Detalle de Selección</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <p><strong>Nombre del solicitante:</strong> <%= @ticket.user.full_name if @ticket.user %></p>
                  <p><strong>Cargo del solicitante:</strong> <%= @ticket&.user&.position || 'No definido' %></p>
                  <p><strong>Carácter del Proceso:</strong> <%= @ticket.character_of_process.humanize %></p>
                  <p><strong>Fuente de Reclutamiento:</strong> <%= @ticket.recruitment_source.humanize %></p>
                  <p><strong>Fecha de solicitud:</strong> <%= @ticket.request_date.strftime('%d/%m/%Y') %></p>
                  <p><strong>Posición solicitada:</strong> <%= @ticket.requested_position_title.humanize %></p>
                  <p><strong>Motivo de búsqueda:</strong> <%= @ticket.reason_for_search.humanize %></p>
                  <p><strong>Nombre de colaborador a reemplazar:</strong> <%= @ticket.replacement_user&.full_name || 'No definido'%></p>
                  <p><strong>Número de vacantes:</strong> <%= @ticket.number_of_vacancies %></p>
                  <p><strong>Área:</strong> <%= @ticket.area.humanize %></p>
                  <p><strong>Empresa:</strong> <%= @ticket.company.humanize %></p>
                  <p><strong>Centro de costo:</strong> <%= @ticket.cost_center %></p>
                </div>
                <div class="col-6">
                  <p><strong>Formación Académica requerida:</strong> <%= @ticket.required_education.humanize %></p>
                  <p><strong>Carrera:</strong> <%= @ticket.careers%></p> 
                  <p><strong>Años de experiencia:</strong> <%= @ticket.years_of_experience %></p>
                  <p><strong>Ubicación física del cargo:</strong> <%= @ticket.job_location.humanize %></p>
                  <p><strong>Horario de trabajo:</strong> <%= @ticket.work_schedule.humanize %></p>
                  <p><strong>Turno:</strong> <%= @ticket.shift.humanize %></p>
                  <p><strong>Requiere Computador:</strong> <%= @ticket.requires_computer.humanize %></p>
                  <p><strong>Requiere Cuenta:</strong> <%= @ticket.requires_account.humanize %></p>
                  <p><strong>Fecha de ingreso máxima:</strong> <%= @ticket.admission_date.strftime('%d/%m/%Y') %></p>
                  <p><strong>Composición de la renta:</strong> <%= @ticket.income_composition.humanize %></p>
                  <p><strong>Observaciones:</strong> <%= @ticket.observation %></p>
                </div>
                <br>
                <div class="col-12">
                  <h2>Postulantes:  <span><%= @ticket&.postulaciones&.count%></span> </h2>
                  <% if @ticket.postulaciones.exists? %>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nombre del Candidato</th>
                          <th>Email</th>
                          <th>Teléfono</th>
                          <th>Estado de Postulación</th>
                          <th>Currículum</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @ticket.postulaciones.each do |postulacion| %>
                          <tr>
                            <td><%= postulacion.applicant_name %></td>
                            <td><%= postulacion.email %></td>
                            <td><%= postulacion.phone %></td>
                            <td><%= postulacion.application_status %></td>
                            <td>
                              <%# Asume que el currículum se almacena como un archivo adjunto en `postulacion.curriculum` %>
                              <%= link_to "Descargar", rails_blob_path(postulacion.file, disposition: "attachment") if postulacion.file.attached? %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <% else %>
                    <p>No hay postulantes para este caso.</p>
                  <% end %>
                </div>                
              </div>
            </div>
            <!-- <div class="card post_card">
              <div class="card-header">
                <h3 class="card-title">Archivos adjuntos: <%= @ticket.files.count %></h3>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <% @ticket.files.each_with_index do |file, i| %>
                    <li class="list-group-item">
                      <%= link_to "#{i + 1}) #{file.filename.to_s}", root_url + rails_blob_path(file, disposition: "attachment")%>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-12">
              </div>
            </div> -->
          </div>
          <!-- <% if @ticket.assistant == current_user %>
            <div class="col-md-12">
              <div class="msg_history">
                <% @messages.each do |message| %>
                  <% if message.user == current_user %>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p><%= message.content %></p>
                        <span class="time_date"> <%= message.format_created_at %></span>
                      </div>
                    </div>
                  <% else %>
                    <div class="incoming_msg">
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><%= message.content %></p>
                          <span class="time_date"> <%= message.format_created_at %></span>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <% if @ticket.closed_at.nil? %>
                <div class="col-md-12">
                  <div class="type_msg">
                    <div class="col-md-12 input_msg_write">
                      <%= form_with url: admin_helpcenter_ticket_helpcenter_messages_path(@ticket), method: :post, model: @message do |f| %>
                        <div class="row">
                          <div class="col-md-9">
                            <%= f.text_field :content, required: true, class: "write_msg", placeholder: "Ingresa una respuesta..." %>
                          </div>
                          <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Responder</button>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div> -->
          <br />
          <div class="container mt-5" align="center">
            <%= link_to t("helpers.links.back"), admin_helpcenter_tickets_path, :class => 'btn btn-primary'  %>
            <%= link_to "#{current_user.is_admin? ? 'Editar' : 'Recategorizar'}", edit_admin_helpcenter_ticket_path(@ticket), :class => 'btn btn-primary' %>
            <% if @ticket.assistant == current_user %>
              <%= link_to "Dejar caso", take_ticket_admin_helpcenter_ticket_path(@ticket, take_ticket: false), method: :put, class: 'btn btn-primary' if @ticket.closed_at.nil? %>
              <%= link_to "Marcar como resuelto",  close_admin_helpcenter_ticket_path(@ticket), method: :put, class: 'btn btn-primary' if @ticket.closed_at.nil? %>
            <% end %>
            <% if @ticket.assistant.nil? %>
              <%= link_to "Tomar caso", take_ticket_admin_helpcenter_ticket_path(@ticket, take_ticket: true), method: :put, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
    <style>
      .chat_people{ overflow:hidden; clear:both;}
      .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
      }
      .inbox_chat { height: 550px; overflow-y: scroll;}

      .active_chat{ background:#ebebeb;}

      .incoming_msg_img {
        display: inline-block;
        width: 6%;
      }
      .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
       }
       .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
      }
      .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
      }
      .received_withd_msg { width: 57%;}
      .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
      }

       .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0; color:#fff;
        padding: 5px 10px 5px 12px;
        width:100%;
      }
      .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
      .sent_msg {
        float: right;
        width: 46%;
      }
      .input_msg_write input {
        background: rgba(0, 0, 0, 0) scroll 0 0;
        border: 1px solid;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
      }

      .type_msg {border-top: 1px solid #c4c4c4;position: relative; padding-top: 20px;}
      .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
      }

      .msg_history {
        height: 516px;
        overflow-y: auto;
      }
    </style>
