<%= f.error_notification %>
  <div class="form-group row">
    <div class="col-7 row">
      <div class="col-md-12">
        <%= f.input :title, required: true, autofocus: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :code, autofocus: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :url, autofocus: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :benefit_type_id, collection: General::BenefitType.all, required: true, autofocus: true %>
      </div>
      <div class="col-md-12">
        <%= f.label 'Grupo beneficiario' %>
        <%= select_tag :benefit_groups, options_for_select(General::BenefitGroup.all.map{|i| [i.name]}, f.object.benefit_groups.map(&:name)), 
        multiple: true, class:' form-control string optional', id: 'benefit_groups' %>
      </div><br />
      <div class="col-md-12">
        <%= f.text_area :content, :class => "tinymce" %>
        <%= tinymce %>
      </div>
    </div>
    <div class="col-5" >
      <div class="card border-secondary border border-primary rounded">
        <div class="card-body text-secondary">
          <% if @benefit.image.attachment.present? %>
              <%= image_tag(@benefit.image.variant(resize: '300x300>'), class: 'left') %>
          <% else %>
            <img src="https://zcoin.io/wp-content/uploads/2017/01/blank-avatar-e1484377033610.png" alt="rss feed" />
          <% end %>
          <div class="left">
            <i class="fas fa-exclamation-circle" rel="tooltip" title="Formatos para la imagen ideales: 245x245" id="ben_img"></i>
            <%= f.input :image, required: true, input_html: { accept:'image/*' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>

<script>
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});
</script>