<%= f.error_notification %>
<div class="card p-4">
  <div class="form-group row">
    <div class="col-8 row">
      <div class="col-md-6">
        <%= f.input :title, required: true, autofocus: true %>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox pt-4">
          <%= f.check_box :is_special, class:'custom-control-input' %>
          <%= f.label 'Es Beneficios Vida', class: 'custom-control-label', for: 'benefit_is_special'%>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.input :alias %>
      </div>
      <div class="col-md-6">
        <%= f.input :code %>
      </div>
      <div class="col-md-6">
        <%= f.input :url %>
      </div>
      <div class="col-md-12">
        <%= f.label 'Pertenece a los siguientes grupos beneficiarios:' %>
        <ul>
          <% @benefit.benefit_groups.each do |b| %>
            <li>
              <%= b.name %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-12">
        <ul><%= "Shortcodes disponibles:"%>
          <li><%= "Tipo: *|TIPO|*"%></li>
          <li><%= "Valor: *|VALOR|*"%></li>
          <br/>
          <em style="color: gray;">Ejemplo: Solicita este beneficio y obtén *|Tipo|* *|VALOR|* para ti.</em>
          <em style="color: gray;">Resultado para el usuario: Solicita este beneficio y obtén *|Tipo|* *|VALOR|* para ti.</em>
        </ul>
      </div>
      <br />
      <div class="col-md-12">
        <%= f.text_area :content, :class => "tinymce" %>
        <%= tinymce %>
      </div>
    </div>
    <div class="col-4" >
      <div class="card border-secondary border border-primary rounded">
        <div class="card-body text-secondary text-md-center">
          <% if @benefit.image.attachment.present? %>
            <%= image_tag(@benefit.image.variant(resize: '300x300>'), class: 'left') %>
          <% else %>
          <% end %>
          <div class="left">
            <%= f.input :image, required: true, input_html: { accept:'image/*' } %>
          </div>
          <div class="tip_format">
            * Las dimensiones de la imágen deben ser de 245px x 245px
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>
