<%= f.error_notification %>
<div class="card p-4">
  <div class="form-group row">
    <div class="col-8 row">
      <div class="col-md-6">
        <%= f.input :title, required: true, autofocus: true %>
      </div>
      <div class="col-md-3">
        <%= f.input :alias %>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox pt-4">
          <%= f.check_box :is_special, class:'custom-control-input' %>
          <%= f.label 'Es Beneficios Vida', class: 'custom-control-label', for: 'benefit_is_special'%>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.input :code %>
      </div>
      <div class="col-md-6">
        <%= f.input :url %>
      </div>
      <div class="col-md-12">
        <%= f.label 'Grupo beneficiario' %>
        <%= select_tag :benefit_groups, options_for_select(General::BenefitGroup.all.map{|i| [i.name]}, f.object.benefit_groups.map(&:name)), 
        multiple: true, class:' form-control string optional', id: 'benefit_groups' %>
      </div>
      <br />
      <div class="col-md-12">
        <%= f.text_area :content, :class => "tinymce" %>
        <%= tinymce %>
      </div>
    </div>
    <div class="col-4" >
      <div class="card border-secondary border border-primary rounded">
        <div class="card-body text-secondary text-md-center">
          <% if @benefit.image.attachment.present? %>
            <%= image_tag(@benefit.image.variant(resize: '300x300>'), class: 'left') %>
          <% else %>
          <% end %>
          <div class="left">
            <%= f.input :image, required: true, input_html: { accept:'image/*' } %>
          </div>
          <div class="tip_format">
            * Las dimensiones de la imágen deben ser de 245px x 245px
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= f.submit nil, :class => 'btn btn-primary btn-block' %>
