<%- model_class = General::Benefit -%>
  <section class="section">
    <h1 class="section-header"><%= "Beneficios" %></h1>
    <%= link_to "Nuevo", new_admin_benefit_path, :class => 'btn btn-primary btn-sm' %> 
    <div class="card">
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th><%= 'Alias' %></th>
              <th><%= 'Código' %></th>
              <th><%= 'Título' %></th>
              <th><%= 'Acciones' %></th>
            </tr>
          </thead>
          <tbody>
            <% @benefits.each do |benefit| %>
              <tr>
                <td><%= benefit.try(:alias) %></td>
                <td><%= benefit.code %></td>
                <td><%= link_to benefit.title, admin_benefit_path(benefit) %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.benefits.show")),
                              admin_benefit_path(benefit), :class => 'btn btn-success btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.benefits.edit")),
                              edit_admin_benefit_path(benefit), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to 'Deshabilitar',
                              admin_benefit_path(benefit),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.benefits.confirm", :default => '¿Estás seguro??')) },
                              :class => 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <%= will_paginate @benefits, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>
    </div>
  </section>
