<section class="section">
  <h1 class="section-header"><%= @benefit.title %></h1>
  <div class="container card">
    <div class="col-md-12" align="center">
      <div style='max-width: 400px; max-height: 400px;'>
        <% if @benefit.image.attached? %>
          <%=image_tag @benefit.image.variant(resize: "360x300>")%>
        <% else %>
          <%= 'No hay imagen cargada'%>
        <% end %>
      </div>
      <h5><%= raw @benefit.content %> </h5>
      <h4>Pertenece a los siguientes grupos beneficiarios: </h4>
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead class="thead">
              <tr>
                <th><%= 'Nombre' %></th>
                <th><%= 'Currency' %></th>
                <th><%= 'Amount' %></th>
                <th><%= 'Url' %></th>
              </tr>
            </thead>
            <tbody>
              <% @benefit.benefit_group_relationships.order(:benefit_group_id).each do |bgr| %> 
                <tr>
                  <td><%= bgr.benefit_group.name %> :</td>
                  <td><%= bgr.currency %></td>
                  <td><%= bgr.amount %></td>
                  <td><%= link_to bgr.url, bgr.url %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
       

    </div>
  </div>
  <br><br>
</section>

<div align="center">
  <%= link_to t('.back', :default => t("helpers.links.back")), admin_benefits_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_benefit_path(@benefit), :class => 'btn btn-primary' %>
</div>