<%= f.error_notification %>
<div class="row form-group text-black">
  <div class="form-group card p-4 col-md-12">
    <div class="row" >
      <div class="col-sm-12">
        <% if @product.user_id? %>
          <h4> Publicado por: <%= @product.user.full_name %> </h4>
          <% end %>
      </div>
      <div class="col-sm-4">
        <%= f.input :name, required: true, autofocus: true  %>
      </div>
      <div class="col-sm-1">
        <%= f.input :currency, collection: Marketplace::Product::CURRENCY, default: Marketplace::Product::CURRENCY.first  %>
      </div>
      <div class="col-sm-3">
        <%= f.input :price %>
      </div>
      <div class=" col-sm-4">
        <%= f.input :product_type, collection: Marketplace::Product::PRODUCT_TYPE %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :description, required: true, as: :text, :input_html => { 'rows' => 4, 'cols' => 10 } %>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-12">
            <%= f.input :location, required: true  %>
          </div>
          <div class="w-100"></div>
          <div class="col-12 col-sm-12">
            <%= f.input :email, required: true  %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <%= f.input :phone %>
      </div>
      <div class="col-sm-3">
        <%= f.input :expiration, input_html: { value: 30 }  %>
      </div>
      <div class="col-md-2">
        <%= f.input :approved, label: false %>
      </div>
      <div class="col-md-4">
        <%= f.input :images, as: :file, input_html: { multiple: true, accept:'image/*' } %>
      </div>
    </div>
</div>

<% if @product.unpermitted_images.present? %>
  <div class="container card">
        <h3 class="text-center">Imágenes por aprobar</h3>
      <div class="row">
        <div class="col-sm-2 pull-right">
          <button type="button" class="btn btn-primary btn-sm" id='check_all'>Seleccionar todas</button>
        </div>
      </div><br />
    <div class="row text-center" >
      <% @product.unpermitted_images.each do |image| %>
        <div class="col-md-2 approved">
          <figure>
            <%= image_tag image.variant(resize: '150x100>'), class: 'image_attach' %>
            <figcaption>
              <%= check_box_tag "permissions[]", image.id -%>
            </figcaption>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @product.permitted_images.present? %>
  <div class="container card">
    <p>Imágenes Aprobadas</p>
    <div class="row text-center" >
      <% @product.permitted_images.each do |image| %>
        <div class="col-md-2">
          <figure>
            <%= image_tag image.variant(resize: '150x100>'), class: 'image_attach' %>
            <figcaption>
              <%= link_to 'Borrar', delete_image_admin_product_path(image), method: :delete, data: { confirm: '¿Estás seguro??' }, :class => 'btn btn-sm btn-danger'%>
            </figcaption>
          </figure>
        </div>
      <% end %>
    </div>
  </div><br>
<% end %>
  <%= f.hidden_field :user_id %>

  <div class="container col-md-12">
    <%= link_to 'Volver', :back, class:'btn btn-success' %>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>