<section class="section">
  <h1 class="section-header"><%= "Anuncios" %></h1>
  <%= form_tag('', method: 'get') do %>
    <div class="form-row">
      <div class="form-group " style='margin-left: 10px;padding: 15px;'>
        <%= select_tag(:approved, options_for_select(@filters), include_blank: 'Seleccione', class: 'custom-select filter') %>
      </div>
    </div>
  <% end %>
  <div class="card">
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th><%= 'Imagen principal'%></th>
            <th><%= "Nombre" %></th>
            <th><%= "Precio" %></th>
            <th><%= "Aprobado" %></th>
            <th><%= "Aprobar" %></th>
            <th><%= "Acciones" %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= image_tag product.thumb(product.images.first), :class=> 'img-thumbnail' unless product.images.first.nil? %></td>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= is_approved(product) %></td>
              <td>
                <%= check_box_tag 'product[approved]', nil, product.approved?,
                        data: {
                          id: product.id
                        }, class: "approved" %>
              </td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")), admin_product_path(product), :class => 'btn btn-success btn-sm' %>  
                <% if policy(product).edit?  %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_product_path(product), :class => 'btn btn-primary btn-sm' %>
                  <%= link_to 'Deshabilitar', admin_product_path(product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro??')) },:class => 'btn btn-sm btn-danger' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  <%= link_to "Nuevo", new_admin_product_path, :class => 'btn btn-primary' %>
  </div>
</section>

<script>
$(function() {
    $('.filter').change(function() {
        this.form.submit();
    });
});
</script>