<section class="section">
  <h1 class="section-header"><%= "Anuncios" %></h1>
  <%= link_to "Nuevo", new_admin_product_path, :class => 'btn btn-primary btn-sm mb-1' %>
  <div class="card">
    <%= form_tag('', method: 'get') do %>
      <div class="form-row">
        <div class="ml-4 mt-2 pb-2">
          <%= select_tag(:approved, options_for_select(@filters), include_blank: 'Seleccione', class: 'custom-select filter') %>
        </div>
      </div>
    <% end %>
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th><%= 'Imagen principal'%></th>
            <th><%= "Nombre" %></th>
            <th><%= "Precio" %></th>
            <th><%= "Publicado por" %></th>
            <th><%= "Aprobado" %></th>
            <th><%= "Aprobar" %></th>
            <th><%= "Acciones" %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td data-toggle="modal" data-target="#modalShowProduct_<%= product.id %>"><%= image_tag product.thumb(product.images.first), :class=> 'img-thumbnail' unless product.images.first.nil? %></td>
              <td><%= product.name %></td>
              <td><%= product.currency %> <%= product.price.to_i %></td>
              <td><%= product.user.full_name if product.user.present? %></td>
              <td><%= is_approved(product) %></td>
              <td>
                <%= check_box_tag 'product[approved]', nil, product.approved?,
                        data: {
                          id: product.id
                        }, class: "approved" %>
              </td>
              <td>
                <%= link_to "Ver en intranet", "#{get_frontend_url}/avisos-clasificados/#{product.id}", target: "_blank", class: 'btn btn-success btn-sm' %>
                <%= link_to t('.show', :default => t("helpers.links.show")), admin_product_path(product), :class => 'btn btn-success btn-sm' %>
                <% if policy(product).edit?  %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_product_path(product), :class => 'btn btn-primary btn-sm' %>
                <% end %>
                <%= link_to 'Eliminar', admin_product_path(product), :method => :delete, 
                :data => { :confirm => 'Confirmar', :title => '¿Está seguro(a) que desea eliminar este elemento?' },
                :class => 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</section>
<script>
  $(function() {
      $('.filter').change(function() {
          this.form.submit();
      });
  });
</script>
<% @products.each do |product| %>
  <div class="modal fade bd-example-modal-lg" id="modalShowProduct_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Imágenes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </div>
          <div class="modal-body">
            <div class="container card">
              <% if product.unpermitted_images.present? %>
                <div class="row">
                  <div class="col-sm-12 pull-left">
                    imágenes por aprobar
                  </div>
                </div>
              </br>
              <div class="row text-center" >
                <% product.unpermitted_images.each do |image| %>
                  <div class="col-md-4">
                    <figure>
                      <%= image_tag image.variant(resize: '150x100>'), class: 'image_attach' %>
                    </figure>
                    <figcaption>
                      <%= check_box_tag 'attachment', nil, image.permission?,
                                                data: {
                                                  id: product.id,
                                                  image: image.id
                                                }, class: "approved_product_attachment" %>
                    </figcaption>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="container card">
            <% if product.permitted_images.present? %>
              <p>Imágenes Aprobadas</p>
              <div class="row text-center" >
                <% product.permitted_images.each do |image| %>
                  <div class="col-md-4">
                    <figure>
                      <%= image_tag image.variant(resize: '150x100>'), class: 'image_attach' %>
                    </figure>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
<% end %>
