<%= f.error_notification %>
<div class="form-row">
  <div class="form-group card p-4 col-md-8">
    <div class="row" >
      <div class="col-md-4">
        <%= f.input :child_name, required: true, autofocus: true  %>
      </div>
      <div class="col-md-4">
        <%= f.input :child_lastname, required: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :child_lastname2, required: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :full_name_father, required: true  %>
      </div>
      <div class="col-md-6">
        <%= f.input :full_name_mother, required: true  %>
      </div>
      <div class="col-md-6">
        <%= f.input :user_id  %>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="input-group date" id="birthday" data-target-input="nearest">
          <% if @birth.try(:birthday).present? %>
            <%= f.text_field :birthday, class: 'form-control datetimepicker-input', value: @birth.try(:birthday).strftime("%d-%m-%Y %H:%M"), 'data-target' => '#birthday'%>
          <% else %>
            <%= f.text_field :birthday, class: 'form-control datetimepicker-input', 'data-target' => '#birthday', placeholder: "Día de nacimiento", label: false %>
          <% end %>
          <div class="input-group-append" data-target="#birthday" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row align-items-center">
          <div class="col-md-3">
            <%= f.radio_button :gender, true, class: 'form-control radio-inline'%>
          </div>
          <div class="col-md-9">
            Masculino
          </div>
          <div class="col-md-3">
            <%= f.radio_button :gender, false, class: 'form-control radio-inline'%>
          </div>
          <div class="col-md-9">
            Femenino
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <% if f.object.new_record? %>
          <%= f.check_box :approved, checked: false %>
          <%= f.label 'Aprobado'%>
        <% else %>
          <%= f.check_box :approved, checked: true, hidden: true%>
        <% end %>
      </div>
      <div class="col-md-2">
        <div class="custom-control custom-checkbox pt-4">
          <%= f.check_box :is_public, class:'custom-control-input' %>
          <%= f.label 'Es público', class: 'custom-control-label', for: 'birth_is_public'%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-2">
      <div class="card border-secondary center mb-12" style="max-width: 18rem;">
        <div class="card-body text-secondary border border-primary rounded">
          <% if @birth.images.attachments.nil? || !@birth.permitted_images.present? %>
            <img src="https://webiconspng.com/wp-content/uploads/2017/09/Stork-PNG-Image-40980.png" height="150px" style="object-fit: cover;"  />
          <% else %>
            <%= image_tag(@birth.permitted_images.first, class: 'center') %>
          <% end %>
        </div>
      </div>
      <div class=" col-md-12">
        <div class="col-md-12">
          <%= f.file_field :images, required: true, multiple: true, input_html: { accept:'image/*' } %>
        </div>
      </div>
    </div>
  </div>
  <% if @birth.unpermitted_images.present? %>
    <div class="container card">
      <div class="row">
        <div class="col-sm-10 pull-left">
          Foto por aprobar
        </div>
        <div class="col-sm-2 pull-right">
          <button type="button" class="btn btn-primary btn-sm" id='check_all_birth'>Selecciona todo</button>
        </div>
      </div>
      <br />
      <div class="row text-center" >
        <% @birth.unpermitted_images.each do |image| %>
          <div class="col-md-2 approved">
            <figure>
              <%= image_tag image.variant(resize: '150x100>'), class: 'image_attach' %>
              <figcaption>
                <%= check_box_tag "permissions[]", image.id -%>
              </figcaption>
            </figure>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="container">
    <% if @birth.permitted_images.present? %>
      <p>Imágenes Aprobadas</p>
      <div class="row text-center" >
        <% @birth.permitted_images.each do |image| %>
          <div class="col-md-2">
            <figure>
              <%= image_tag image.variant(resize: '150x100>'), class: 'image_attach' %>
              <figcaption><%= link_to 'Borrar', delete_image_admin_birth_path(image), method: :delete, data: { confirm: '¿Esta segura(o) que desea eliminar este elemento?' },:class => 'btn btn-sm btn-danger'%></figcaption>
            </figure>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @birth.id.present? %>
      <div class="col-md-4">
        <%= f.submit 'Aprobar', :class => 'btn btn-success' %>
        <%= link_to 'Rechazar',
            admin_birth_path(@birth),
            method: :delete,
            data: { title: '¿Esta segura(o) que desea rechazar este elemento?', confirm: 'Confirmar' },
            class: 'btn btn-danger' %>
      </div>
    <% else %>
      <%= f.submit nil, class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
