<%= f.error_notification %>
<div class="form-row">
  <div class="form-group card p-4 col-md-8">
    <div class="row" >
      <div class="col-md-6">
        <%= f.input :child_name, required: true, autofocus: true  %>
      </div>
      <div class="col-md-6">
        <%= f.input :child_lastname, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :full_name_father, required: true  %>
      </div>
      <div class="col-md-12">
        <%= f.input :full_name_mother, required: true  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"></br>
        <div class="input-group date" id="birthday" data-target-input="nearest">
          <% if @birth.try(:birthday).present? %>
            <%= f.text_field :birthday, class: 'form-control datetimepicker-input', value: @birth.try(:birthday).strftime("%d-%m-%Y %H:%M"), 'data-target' => '#birthday'%>
          <% else %>
            <%= f.text_field :birthday, class: 'form-control datetimepicker-input', 'data-target' => '#birthday', placeholder: "Día de nacimiento", label: false %>
          <% end %>
          <div class="input-group-append" data-target="#birthday" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></br>
      <%= f.label gender_select(@birth.gender)  %>
      <%= f.input_field :gender, label: :false, collection: [ [1, 'Masculino' ], [0, 'Femenino'] ], as: :radio_buttons, checked: @birth.gender, label_method: :last, value_method: :first, required: true%>
      </div>      
      <div class="col-md-3 col-sm-3"></br>
        <%= f.input :approved, label: false, class: 'custom-control-input' %>
      </div>        
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-2">
      <div class="card border-secondary center mb-12" style="max-width: 18rem;">
        <div class="card-body text-secondary border border-primary rounded">
          <% if @birth.images.attachments.nil? %>
          <%#= 'image_tag(@birth.photo.attachment, class: center)' %>
            <img src="https://webiconspng.com/wp-content/uploads/2017/09/Stork-PNG-Image-40980.png" height="230px"  />
          <% end %>
        </div>
      </div>
      <div class=" col-md-12">
        <div class="col-md-12">
          <%= f.file_field :images, required: true, multiple: true, input_html: { accept:'image/*' } %>
        </div>
      </div>
    </div>
  </div>
  
  <% if @birth.images.where(permission: 0).present? %>    
    <div class="card col-md-12 p-4">
      <div class="row" >
        <div class="col-md-12">
          <p>imágenes por aprobar</p>
          <% @birth.images.where(permission: 0).each do |image| %>
            <%= image_tag image.variant(resize: '150x100>'), class: 'image_birth' %>
              <%= check_box_tag "permissions[]", image.id -%>
          <% end %>  
        </div>
      </div>
    </div>
  <% end %>
  <% if @birth.images.where(permission: 1).present? %>
    <div class="card col-md-12 p-4">
      <div class="row" >
        <div class="col-md-12">
          <p>Imágenes Aprobadas</p>
          <% @birth.images.where(permission: 1).each do |image| %>
            <%= image_tag image.variant(resize: '150x100>'), class: 'image_birth' %>
          <% end %>  
        </div>
      </div>
    </div>
  <% end %>
</div><br>
<%= f.submit nil, :class => 'btn btn-primary' %>
