<li>
    <strong>Usuario:</strong> <%= account.name %>
</li>
<li>
    <strong>Nro. cuenta:</strong> <%= account.account_number %>
</li>
<li>
    <strong>Documento de Identidad:</strong> <%= account.legal_number %>
</li>
<li>
    <strong>Banco:</strong> <%= account.bank_name %>
</li>
<li>
    <strong>Tipo de cuenta:</strong> <%= account.account_type %>
</li>
<li>
    <strong>Oficina:</strong> <%= account.country %>
</li>
  