<%= f.error_notification request: f.object.errors[:request].to_sentence %>
<div class="card m-2 p-4">
  <div class="form-group row d-flex">
    <div class="col-6 col-md-4 col-sm-12">
      <% selected_value = @request.user_id.present? ? @request.user_id : nil %>
      <%= f.input "Usuario", :input_html => { :value =>
      @request.try(:user).try(:full_name)}, disabled: true %>
    </div>

    <% if current_user.is_admin? %>
      <div class="col-6 col-md-5 col-sm-12">
        <%= f.label "País destino del reembolso" %><br/>
        <%= f.select :destination_country_id, ExpenseReport::Request::COUNTRY.map { |country| country.keys.first.to_s }, { include_blank: true }, { class: "form-control" } %>
      </div>
    <% end %>
    
    <% if current_user.has_role?(:expense_report, :any) || current_user.is_admin?   %>
      <div class="col-6 col-md-6 col-sm-12">
        <%= f.label "Sociedad" %><br/>
        <%= f.collection_select :society_id, General::Society.all, :id, :name, { include_blank: true }, { class: "form-control string" } %>
      </div>
      <div class="col-6 col-md-4 col-sm-12">
        <%= f.label "Fecha de pago" %><br />
        <%= f.input :payment_date, as: :date, html5: true, label: false %>
      </div>
    <% end %>
    <% if current_user.is_admin? %>
      <div class="col-12 col-md-3">
        <label class="form-label">Es local?</label>
        <div class="d-flex">
          <div class="form-check m-2">
            <%= f.radio_button :is_local, true, { class: "form-check-input" } %>
            <%= f.label :is_local, "Sí", class: "form-check-label" %>
          </div>
          
          <div class="form-check m-2">
            <%= f.radio_button :is_local, false, { class: "form-check-input" } %>
            <%= f.label :is_local, "No", class: "form-check-label" %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 m-1">
        <%= f.label "Divisa" %><br/>
        <%= f.select :divisa_id, ExpenseReport::Request::DIVISAS.map { |divisa| divisa.keys.first.to_s }, { include_blank: true }, { class: "form-control" } %>
      </div>
  
      <div class="col-12 col-md-4 m-1">
        <%= f.input :total%>
      </div>

      <div class="col-12 col-md-10 m-1">
        <%= f.input :description, as: :text, required: true %>
      </div>
    <% end %>


    <div class="col-12 p-5 text-center">
      <h4 class="pb-3">Items Rendicion</h4>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <%= f.simple_fields_for :invoices, @invoices do |invoice_form|  %>
              <tr>
                <td><%= invoice_form.object.description %></td>
                <% if current_user.has_role?(:expense_report, :any) || current_user.is_admin?  %>
                  <td class="px-4 py-1"><%= invoice_form.input  :category_id, collection: @categories.all, as: :select, label: false %> </td>
                <%end%>
                <% if current_user.is_admin? %>
                  <td><%= invoice_form.input :total, label: false%> </td>
                <% else %>
                  <td><%= invoice_form.object.total %> </td>
                <%end%>
              </tr>
            <% end %>
        </tbody>
      </table> 

    </div>
  </div>
</div>

<%= f.submit 'Actualizar', :class => 'btn btn-primary' %>

<script>
  $(document).on("turbolinks:load", function () {

    $("#request_user_id").select2({
      tags: false,
      placeholder: "Seleccionar Usuario",
      width: "100%",
    });
  });
</script>
