<section class="section">
    <h1 class="section-header"><%= "Rendición de gastos" %></h1>
    <div style="text-align: end">
      <%= link_to 'Descargar listado de Rendiciones', requests_list_admin_expense_report_request_path(:expense_report_request_id,format: 'xlsx'), method: 'get', class:'btn btn-primary btn-sm mb-1'%>
    </div>
    <div class="card mb-0">
      <%= form_tag('', method: 'get') do %>
        <div class="large-12 columns">
          <div class="row">
            <div class="row" style='margin-left: 10px;padding: 15px;'>
              <%= select_tag(
                  :status, 
                  options_for_select(@all_status), 
                  include_blank: 'Seleccionar', 
                  class: 'custom-select',
                  :onchange => 'request_filter_action()') 
              %>
              <%= button_tag "Buscar", class: "btn btn-primary btn-sm", id: 'request_filter', style: 'display: none' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  
    <div class="card">
      <div class="table-responsive-md">
        <table data-order='[[ 0, "desc" ]]' class="table table-hover" id="requests_table" data-source="<%= admin_expense_report_requests_path(status: @status, format: :json) %>">
          <thead class="thead">
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  
  <script>
    function request_filter_action() {
      document.getElementById("request_filter").click()
    }
  </script>
  
  