<div class="container">
    <section class="section">
      <h2 class="section-header">Rendici贸n de gastos # <%= @request.id %></h2>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card post_card">
              <div class="card-header">
                <h3 class="card-title">Usuario</h3>
              </div>
              <ul>
                <li>
                  <strong>Usuario:</strong> <%= @request.user.full_name.titleize %>
                </li>
                <li>
                  <strong>C贸digo:</strong> <%= @request.user.format_legal_number %>
                </li>
                <li>
                  <strong>Correo:</strong> <%= @request.user.email %>
                </li>
                <li>
                  <strong>Estado Rendici贸n:</strong> <%= @request.request_state.code %>
                </li>
                <% if @request.request_histories.present? %>
                <li>
                  <strong>Asistente:</strong> <%= @request.request_histories.last.user.full_name.titleize %>
                </li>
                <% end %>
                <li>
                  <strong>Monto solicitado:</strong> <%= @request.total %>
                </li>
                <li>
                  <strong>Supervisor:</strong> <%= @supervisor %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card post_card">
              <div class="card-header">
                <h3 class="card-title">Descripci贸n</h3>
              </div>
              <div class="card-body">
                <p><%= @request.description %></p>
              </div>
              <div class="card post_card">
                <div class="card-header">
                  <h3 class="card-title">Archivos adjuntos: <% 'request.invoices.all.files.count'  %></h3>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">

                  </ul>
                </div>
                <div class="col-12">
                </div>
              </div>
            </div>
            </div>
            <br />
            <div class="container mt-5" align="center">
              <%= link_to t("helpers.links.back"), admin_expense_report_requests_path, :class => 'btn btn-primary'  %>
              <%= link_to "#{current_user.is_admin? ? 'Editar' : 'Recategorizar'}", edit_admin_expense_report_request_path(@request), :class => 'btn btn-primary' %>
              <% if @request.assistant == current_user %>
              <% end %>
              <% if @request.assistant.nil? %>
                <%= link_to "Tomar caso", take_request_admin_expense_report_request_path(@request, take_request: true), method: :put, class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </section>
      </div>
      <style>
      </style>
  