<div class="container">
    <section class="section">
      <h2 class="section-header">Rendición de gastos # <%= @request.id %></h2>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card post_card">
              <div class="card-header">
                <h3 class="card-title">Usuario</h3>
              </div>
              <ul>
                <li>
                  <strong>Usuario:</strong> <%= @request.user.full_name.titleize %>
                </li>
                <li>
                  <strong>Código:</strong> <%= @request.user.format_legal_number %>
                </li>
                <li>
                  <strong>Correo:</strong> <%= @request.user.email %>
                </li>
                <li>
                  <strong>Estado Rendición:</strong> <%= @request.request_state.code %>
                </li>
                <% if @request.assistant.present? %>
                <li>
                  <strong>Asistente:</strong> <%= @request.assistant.full_name.titleize %>
                </li>
                <% end %>
                <li>
                  <strong>Supervisor:</strong> <%= @supervisor %>
                </li>
                <li>
                  <strong>Subtotal:</strong> <%= @request.divisa_id %> <%= @request.total %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card post_card">
              <div class="card-header">
                <h3 class="card-title">Cuenta de abono</h3>
              </div>
              <ul>
                <% if @request.user.accounts.present?%>
                  <li>
                    <strong>Usuario:</strong> <%= @request.user.accounts.last.name %>
                  </li>
                  <li>
                    <strong>Nro. cuenta:</strong> <%= @request.user.accounts.last.account_number %>
                  </li>
                  <li>
                    <strong>Documento de Identidad:</strong> <%= @request.user.accounts.last.legal_number %>
                  </li>
                  <li>
                    <strong>Banco:</strong> <%= @request.user.accounts.last.bank_name %>
                  </li>
                  <li>
                    <strong>Tipo de cuenta:</strong> <%= @request.user.accounts.last.account_type %>
                  </li>
                  <li>
                    <strong>Oficina:</strong> <%= @request.user.accounts.last.country %>
                  </li>
                  <li>
                    <strong>Sociedad:</strong> <%= @request.society.name if @request.society.present?%>
                  </li>
                  <% else %>
                    <li> Sin datos bancaríos</li>
                  <% end %>
              </ul>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card post_card">
              <div class="card-header">
                <h3 class="card-title">Descripción</h3>
              </div>
              <div class="card-body">
                <p><%= @request.description %></p>
              </div>
              <div class="card post_card">
                <div class="card-header">
                  <h3 class="card-title">Documentación de respaldo</h3>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Subcategoría</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Total</th>
                          <th scope="col">archvios</th>
                        </tr>
                      </thead>
                    <% @request.invoices.each_with_index do |invoice, index| %>
                      <tbody>
                        <tr>
                          <th scope="row"><%=index + 1%></th>
                          <td><%= invoice.subcategory.name%></td>
                          <td><%= invoice.description %></td>
                          <td><%= invoice.total%></td>
                          <td><%= link_to "#{index + 1}) Archivo", root_url + rails_blob_path(invoice.file, disposition: "attachment")%></td>
                        </tr>
                      </tbody>
                      <% end %>
                    </table>
                  </ul>
                </div>
                <div class="col-12">
                </div>
              </div>
            </div>
            </div>
            <br />
            <div class="container mt-5" align="center">
              <%= link_to t("helpers.links.back"), admin_expense_report_requests_path, :class => 'btn btn-primary'  %>
              <%= link_to "#{current_user.is_admin? ? 'Editar' : 'Recategorizar'}", edit_admin_expense_report_request_path(@request), :class => 'btn btn-primary' %>
              <% if @request.assistant == current_user %>
              <% end %>
              <% if @request.assistant.nil? %>
                <%= link_to "Tomar caso", take_request_admin_expense_report_request_path(@request, take_request: true), method: :put, class: 'btn btn-primary' %>
              <% end %>
              <% if @request.assistant == current_user %>
              <%= link_to "Dejar caso", take_request_admin_expense_report_request_path(@request, take_ticket: false), method: :put, class: 'btn btn-primary' if @request.closed_at.nil? %>
              <%= link_to "Marcar como resuelto",  close_admin_expense_report_request_path(@request), method: :put, class: 'btn btn-primary' if @request.closed_at.nil? %>
            <% end %>
            </div>
          </div>
        </section>
      </div>
      <style>
      </style>
  