<%- model_class = General::Term -%>
<section class="section">
  <h1 class="section-header"><%= "Etiquetas" %></h1>
    <div class="card">
      <%= form_tag('', method: 'get') do %>
        <div class="large-12 columns">
          <div class="row">
          <div class="row" style='margin-left: 10px;padding: 15px;'>
            <%= select_tag(:type, options_for_select(General::Term::PERMISSION.map{ |a| [a[1], a[0]] } ), :include_blank => "Todos", class: 'tiny') %>
            <%= button_tag "Buscar", class: "btn btn-primary btn-sm btn_type"%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th><%= 'Nombre' %></th>
            <th><%= 'Slug' %></th>
            <th><%= 'Orden' %></th>
            <th><%= 'Estado' %></th>
            <th><%= 'Acciones' %></th>
          </tr>
        </thead>
        <tbody>
          <% @terms.each do |term| %>
            <tr>
              <td><%= term.name %></td>
              <td><%= term.slug  %></td>
              <td><%= term.term_order %></td>
              <td><%= term.status %></td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                            admin_term_path(term), :class => 'btn btn-success btn-sm' %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_admin_term_path(term), :class => 'btn btn-primary btn-sm' %>
                <%= link_to 'Eliminar',
                            admin_post_path(term),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Estás seguro?')) },
                            :class => 'btn btn-sm btn-danger', onclick: 'confirm_data()' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= will_paginate %>
      </div>
    </div>
    <%= link_to "Nueva", new_admin_term_path, :class => 'btn btn-primary' %>
  </div>
</section>