<section class="section">
  <h1 class="section-header">Tag: <%= @term.name %></h1>
  <div class="container row card">
    <div class="row">
      <div class="col-6 col-md-4"><b>Nombre:</b> <%= @term.name %></div>
      <div class="col-6 col-md-4"><b>Descripción:</b> <%= @term.description %></div>
      <div class="col-6 col-md-4"><b>Slug:</b> <%= @term.slug %></div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4"><b>Orden:</b> <%= @term.term_order %></div>
      <div class="col-6 col-md-4"><b>Estado:</b> <%= @term.status %></div>
      <div class="col-6 col-md-4"><b>Count: </b><%= @term.count %></div>
    </div>    
  </div>
  <br><br>
</section>

<div class="col-md-12" align="center">
  <%= link_to t('.back', :default => t("helpers.links.back")),
                admin_terms_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_admin_term_path(@term), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                admin_term_path(@term),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Estás seguro?')) },
                :class => 'btn btn-danger' %>
</div>
