<%= f.error_notification %>
<div class="card p-4">
  <div class="row form-group">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <%= f.input :name %>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <%= f.input :last_name %>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <%= f.input :legal_number %>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <%= f.input :email, required: true,autofocus: true ,input_html: { autocomplete: "email" }%>
        </div>

        <% if false %>          
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.input :password, required: !@user.id.present?,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <%= f.input :password_confirmation,required: !@user.id.present?,input_html: { autocomplete: "new-password" } %>
          </div>
        <% end %>
      
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <%= f.input :position %>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <% selected_value = @user.country_id || "" %>
          <%= f.label "Oficina" %>
          <%= f.select :country_id, options_for_select(Location::Country.all.map{|country| [country.name, country.id]}, selected_value), {}, class:' form-control string' %>
        </div>

        <div class="col-2 col-sm-2">
          <%= f.label :active %>
          <%= f.input :active, as: :boolean, label: false %>
        </div>
      </div>
    </div>
    <div class="col-4" >
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body text-secondary border border-primary rounded">
          <% if @user.image.attachment.present? %>
            <%= image_tag(@user.image, class: 'center') %>
          <% else %>
            <img src="https://zcoin.io/wp-content/uploads/2017/01/blank-avatar-e1484377033610.png" alt="rss feed" />
          <% end %>
        </div>
      </div>
      <%= f.file_field :image, accept:'image/*', class: 'user_image' %>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h3>Asignar Roles</h3>
        </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 scrollDiv">
            <p>Roles</p>
            <%= f.association :roles, legend_tag: false, collection: Role.where(resource_type: nil), as: :check_boxes, label_method: :label_name %>
            <p>Centro de ayuda</p>
            <%= f.association :roles, legend_tag: false, collection: Role.where(resource_type: Helpcenter::Category), as: :check_boxes, label_method: lambda { |owner |"#{owner.name} #{owner.resource.profile.name}"} %> 
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 scrollDiv">
            <p>Roles Rendición de gastos</p>
            <%= f.association :roles, legend_tag: false, collection: Role.where(resource_type: Location::Country), as: :check_boxes, label_method: lambda { |owner |"#{owner.resource.try(:name)} "} %> 
          </div>
      </div>
    </div>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
</div>
