<div class="row">
  <div class="col-md-12">
    <section class="section">
      <h1 class="section-header">Usuarios</h1>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>Nombre(s)</th>
            <th>Apellido(s)</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Anexo</th>
            <th>Activo</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <% if user.image.attachment.present? %>
                  <%= image_tag(user.image.attachment.variant(resize: '40x40!').processed, class: 'rounded-circle border border-secondary') %>
                <% end %>      
              </td>
              <td><%= user.name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.birthday.present? ? custom_date_no_hour(user.birthday) : '' %></td>
              <td><%= user.annexed %></td>
              <td><%= user.active? ? 'Si' : 'No' %></td>
              <td> 
                <%= link_to t('.show', :default => t("helpers.links.show")), admin_user_path(user) %>
                <% if current_user.has_role? :super_admin %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_user_path(user) %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_post_path(user),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>    
    </section>
  </div>
</div>