<section class="section">
  <h1 class="section-header"><%= "Usuarios" %></h1>
  <%= link_to "Nuevo", new_admin_user_path, :class => 'btn btn-primary btn-sm mb-1' %>
  <div class="card">
    <%= form_tag('', method: 'get') do %>
      <div class="large-12 columns">
        <div class="row">
          <div class="row" style='margin-left: 10px;padding: 15px;'>
            <%= select_tag(:approved, options_for_select(General::User::PERMISSION.map{ |a| [a[1], a[0]] } ), include_blank: 'Seleccionar', class: 'custom-select', id: 'select_user', :onchange => 'user_filter_action()') %>
            <%= button_tag "Buscar", class: "btn btn-primary btn-sm btn_type", id: 'user_filter', style: 'display: none' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card">
      <div class="table-responsive-md">
        <table class="table table-hover" id="users_table" data-source="<%= admin_users_path(approved: @approved, format: :json) %>">
          <thead class="thead">
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <script>
    function user_filter_action() {
      document.getElementById("user_filter").click()
    }
  </script>
