<div class="container">
  <div class="row title_form">
      <div class="col-4">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-body text-secondary border border-primary rounded">
            <%= user_avatar(@user.id) %>
          </div>
        </div>      
      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <b>Perfíl de <%= @user.email %></b>
          </div>
          <div class="card-body">
            <p class="card-text">
              <b>Nombre(s):</b> <%= @user.try(:name) %></br>
              <b>Apellido(s):</b> <%= @user.try(:last_name) %></br>
              <b>Correo:</b> <%= @user.email %></br>
              <b>Fecha de nacimiento:</b> <%= @user.birthday.present? ? custom_date_no_hour(@user.try(:birthday) ) : "" %></br>
              <b>Anexo:</b> <%= @user.try(:annexed) %></br>
              <b>Tags:</b> <%= @user.terms.tags.map(&:name).reject(&:blank?).join(", ") %></br>
              <b>Categorías:</b> <%= @user.terms.where(term_type_id: 2).map(&:name).reject(&:blank?).join(", ") %></br>
              <b>Creado el:</b> <%= custom_date(@user.created_at) %></br>
              <b>Última actualización:</b> <%= custom_date(@user.updated_at) %></br>
              <b>Estado:</b> <%= @user.active? ? 'Si' : 'No'  %></br>
            </p>     
          </div>
        </div>
      </div>
    </div>
  <%= link_to t('.back', :default => t("helpers.links.back")), admin_root_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_user_path(@user), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_post_path(@user),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) },:class => 'btn btn-danger' %>       
</div>    

<% unless @user.parent_id.nil? %>
<hr class='hr_top'>
  <div class="card" style="width: 10rem;">
    <%= ornanigram_image(@user.parent_id)%>
    <div class="card-body text-secondary">
      <h5 class="card-title"><%= [@user.parent.name, @user.parent.last_name].join(' ') %></h5>
      <p class="card-text"><%= @user.parent.email %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<% end %>
<hr class='hr_top'>
<h5>Pares</h5>
<div class="row pre-scrollable">
  <% @user.siblings.each do |sb| %>
      <div class="col-md-2">
        <div class="card" style="width: 10rem;">
          <%= ornanigram_image(sb.id)%>
          <div class="card-body text-secondary">
            <h5 class="card-title"><%= [sb.name, sb.last_name].join(' ') %></h5>
            <p class="card-text"><%= sb.email %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<hr class='hr_top'>
<h5>A cargo</h5>
<div class="row pre-scrollable">
  <% @user.children.each do |cd| %>
      <div class="col-md-2">
        <div class="card" style="width: 10rem;">
          <%= ornanigram_image(cd.id)%>
          <div class="card-body text-secondary">
            <h5 class="card-title"><%= [cd.name, cd.last_name].join(' ') %></h5>
            <p class="card-text"><%= cd.email %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<hr class='hr_top'>