<li class="nav-item dropdown <%= dropdown_active?(['book', 'authors', 'editorials']) %>">
  <a class="nav-link has-dropdown" data-turbolinks="false"><i class="fas fa-book"></i> <span>Biblioteca</span></a>
  <ul class="dropdown-menu">
    <li><%= nav_link "Lista de libros", admin_books_path %></li>
    <li><%= nav_link "Lista de autores", admin_authors_path %></li>
    <li><%= nav_link "Lista de editoriales", admin_editorials_path %></li>
    <li><%= nav_link "Lista de solicitudes", admin_user_book_relationships_path %></li>
    <li><%= nav_link "Nuevo libro", new_admin_book_path %></li>
  </ul>
</li>