<li class="nav-item dropdown <%= dropdown_active?(['attachments', 'galleries', 'files']) %>">
  <a class="nav-link has-dropdown" data-turbolinks="false"><i class="far fa-image"></i> <span>Medios</span></a>
  <ul class="dropdown-menu">
    <li><%= nav_link "Lista de medios", admin_attachments_path %></li>
    <li><%= nav_link "Lista de Imágenes", admin_attachments_images_path %></li>
    <li><%= nav_link "Lista de Videos", admin_attachments_videos_path %></li>
    <li><%= nav_link "Galerías", admin_galleries_path %></li>
    <li><%= nav_link "Añadir medios", new_admin_attachment_path %></li>
    <li><%= nav_link "Archivos", admin_files_path %></li>
  </ul>
</li>