<section class="section">
  <h5 class="section-header">Menus</h5>
  <div class="table-responsive">
    <table class='table table-sm'>
      <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>CSS Class</th>
        <th>Prioridad</th>
        <th>Padre</th>
        <th>Link - URL</th>
        <th>Link - URL</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.title %></td>
            <td><%= menu.description %></td>
            <td><%= menu.css_class %><div style="width:60px;height:5px;background:<%= menu.css_class %>"></div></td>
            <td><%= menu.priority%></td>
            <td><%= menu.parent_id ? General::Menu.parent_name_menu(menu.parent_id) : 'Sin padre'  %></td>
            <td><%= menu.link %></td>
            <td><%= link_to t('.show', :default => t("helpers.links.show")),
            admin_menu_path(menu), :class => 'btn btn-primary btn-sm' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>