<div class="row">
  <div class="col-md-12">
    <section class="section">
      <h1 class="section-header">Menus</h1>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Clase CSS</th>
            <th>Código</th>
            <th>Prioridad</th>
            <th>Padre</th>
            <th>Link</th>
            <th>Categorías</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @menus.each do |menu| %>
            <tr>
              <td><%=  %></td>
              <td><%= menu.title %></td>
              <td><%= menu.description.truncate(28) %></td>
              <td><%= menu.css_class %><div style="width:60px;height:5px;background:<%= menu.css_class %>"></div></td>
              <td><%= menu.code %></td>
              <td><%= menu.priority %></td>
              <td><%= menu.parent_id %></td>
              <td><%= menu.link %></td>
              <td><%= menu.terms.present? ? menu.terms.map(&:name).join(',').truncate(10) : 'No tiene' %></td>
              <td> 
                <%= link_to t('.show', :default => t("helpers.menus.show")), admin_menu_path(menu) %>
                <% if current_user.has_role? :super_admin %>
                  <%= link_to t('.edit', :default => t("helpers.menus.edit")), edit_admin_menu_path(menu) %>
                  <%= link_to t('.destroy', :default => t("helpers.menus.destroy")), admin_menu_path(menu),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.menus.confirm", :default => '¿Estás seguro?')) } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>    
    </section>
  </div>
</div>
<%= will_paginate @menus, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>